<mat-toolbar class="debrief">
    <h2 class="breadcrumb">
        <a class="flex-center back" (click)="navBack()">
            <i class="material-icons">arrow_back</i>
        </a>
        <h1 class="subtitle is-5 has-text-centered">{{title}}</h1>
    </h2>
</mat-toolbar>
