h1 {
    width: 100%;
    margin-right: 8px;
}

.mat-toolbar-single-row {
    height: 56px;
}

mat-toolbar.debrief {
    margin-bottom: 20px;

    h2.breadcrumb {
        position: absolute;
        margin-left: -15px;
        width: calc(100%);
    }

    h1 {
        margin-right: 50px;
    }

    a.back {
        margin-left: -2px;
    }
}
