<div fixed-fab-container fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="16px">
    <button fixed-mini-fab mat-mini-fab (click)="navigation.reportFabAction()" *ngIf="navigation.reportFabAction"
        [ngClass]="{'is-loading': navigation.reportFabActionLoading}" [disabled]="navigation.reportFabActionLoading">
        <mat-icon>file_download</mat-icon>
    </button>

    <button fixed-mini-fab mat-mini-fab (click)="navigation.uploadFabAction()" *ngIf="navigation.uploadFabAction"
        [ngClass]="{'is-loading': navigation.uploadFabActionLoading}" [disabled]="navigation.uploadFabActionLoading">
        <mat-icon>file_upload</mat-icon>
    </button>

    <a fixed-fab mat-fab (click)="navigation.mainFabAction()" *ngIf="navigation.mainFabAction">
        <mat-icon>add</mat-icon>
    </a>
</div>
