:host {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: block;

    &[is-transparent="true"] {
        .mo-container {
            background-color: rgba(0, 0, 0, 0);
        }
    }
}

.mo-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #353157;
    color: rgba(255, 255, 255, .87);

    &.mo-mode-card {
        .mo-content {
            background-color: rgba(255, 255, 255, .92);
            color: rgba(0, 0, 0, .87);
            padding: 16px;
            margin: 48px 36px;
            margin-bottom: 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
}

.mo-content {
    padding: 48px 36px;
}

.mo-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
