<modal-sky
    #modalSky
    class="animated fadeIn"
    [fxHide]="mode !== 'sky'"
></modal-sky>

<div
    #wrapper
    [class]="'mo-container mo-mode-' + mode"
    [style.opacity]="mode === 'sky' ? 0 : null"
    fxLayout="column"
>
    <div
        class="mo-backdrop"
        (click)="backdropDismiss()"
    ></div>

    <div
        class="mo-content animated fadeIn"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlex
    >
        <ng-content></ng-content>
    </div>
</div>
