<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                color="light"
                defaultHref="account-login"
            ></ion-back-button>
        </ion-buttons>
        <ion-title>
            <img
                class="content-header-logo"
                src="/assets/images/logo-square.svg"
            >
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
    [scrollY]="false"
    [fullscreen]="true"
>
    <!-- FULL HEIGHT -->
    <div
        has-full-min-height-pct
        fxLayout="column"
    >
        <!-- SCROLL CONTENT -->
        <ion-content
            class="ion-padding-top ion-padding-start ion-padding-end"
            fxFlex
        >
            <div
                has-full-min-height-pct
                fxLayout="column"
                fxLayoutGap="32px"
                fxLayoutAlign="center center"
            >
                <account-login-form></account-login-form>
            </div>
        </ion-content>

        <!-- FOOTER -->
        <div
            class="ion-padding-bottom ion-padding-start ion-padding-end"
            fxLayout
            fxLayoutGap="16px"
            fxLayoutAlign="space-between center"
        >
            <button
                type="button"
                mat-button
                mat-button-extra-small
                is-capitalize
                [routerLink]="['/account-login-register']"
            >
                Create account
            </button>

            <button
                type="button"
                mat-button
                mat-button-extra-small
                is-capitalize
                [routerLink]="['/account-login-forgot-password']"
            >
                Forgot password
            </button>
        </div>
    </div>
</ion-content>
