<div class="wrapper ion-padding-start ion-padding-end ion-padding-bottom">
    <!-- MOOD HISTORY -->
    <div class="page-subtitle ion-text-center">
        Feeling History
    </div>

    <mood-history-chart #moodHistoryChart></mood-history-chart>

    <br>

    <!-- ACTION STEP HISTORY -->
    <h2 class="page-subtitle ion-text-center">
        Action Step History
    </h2>

    <action-step-history-chart-group #actionStepChartGroup></action-step-history-chart-group>

    <br>

    <!-- ACTION STEP HISTORY -->
    <h2 class="page-subtitle ion-text-center">
        Actions
    </h2>

    <action-step-history-list [filter]="'completed'"></action-step-history-list>
</div>
