<br />
<div fxLayout.xs="column" fxLayout fxLayoutGap="24px" *ngIf="!record.load && !record.isEmptyEntry()">

    <!-- VIEW SIDENAV -->
    <div fxFlex.gt-xs="0 0 240px" fxFlex.xs="none" fxLayout="column" fxLayoutGap="24px">

        <!-- AVATAR PANEL -->
        <mat-card mat-details-card class="mat-elevation-z1">
            <user-avatar class="mat-elevation-z1" [url]="record.entry.photo_url" [online]="record.entry.online_at?moment(record.entry.online_at).unix() >= moment().subtract(1, 'hour').unix():false"></user-avatar>

            <h2 class="is-title is-4 has-text-centered">
                <span class="country" *ngIf="record.entry.geolocation && record.entry.geolocation.country_code">{{getCountryEmoji()}}</span>
                <span> {{record.entry.display_name}}</span>
            </h2>

            <h2 class="is-title is-6 has-text-centered"> </h2>

            <br />
            <p *ngIf="record.entry.email">Email:
                <a href="mailto:{{record.entry.email}}">
                    <strong>{{record.entry.email}}</strong>
                </a>
            </p>

            <p *ngIf="record.entry.online_at">
                <br /> Last seen:
                <strong [matTooltip]="moment(record.entry.online_at).format('YYYY/MM/DD HH:mm:ss')">{{record.entry.online_at
                    | fromNow}}</strong>
            </p>

            <p>Signed up:
                <strong [matTooltip]="moment(record.entry.created_at).format('YYYY/MM/DD HH:mm:ss')">{{record.entry.created_at
                    | fromNow}}</strong>
            </p>
        </mat-card>

        <!-- NAV LIST -->
        <mat-card class="user-card mat-elevation-z1" has-nav-list>
            <mat-nav-list small>
                <mat-list-item [ngClass]="{'success': record.entry.roles.includes('admin')}" (click)="switchAdmin()"
                    *ngIf="auth.hasRole('admin')">
                    <mat-icon matListIcon>face</mat-icon>
                    <a matLine>
                        {{record.entry.roles.includes('admin')?'Undo admin':'Make admin'}}
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>zoom_in</mat-icon>
                    <a matLine [routerLink]="record.getViewUrl()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Details</a>
                </mat-list-item>
                <mat-list-item *ngIf="auth.hasRole('admin')">
                    <mat-icon matListIcon>edit</mat-icon>
                    <a matLine [routerLink]="record.getUpdateUrl()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Edit
                        user</a>
                </mat-list-item>
                <mat-list-item *ngIf="auth.hasRole('admin')||record.entry.uid===auth.user.uid">
                    <mat-icon matListIcon>autorenew</mat-icon>
                    <a matLine (click)="reset(record.entry.email)">Password reset</a>
                </mat-list-item>
                <mat-list-item class="danger" *ngIf="auth.hasRole('admin')" (click)="delete(record.entry)">
                    <mat-icon matListIcon>delete_outline</mat-icon>
                    <a matLine>Delete user</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>arrow_back</mat-icon>
                    <a matLine [routerLink]="record.service.listUrl">Go back</a>
                </mat-list-item>
            </mat-nav-list>
        </mat-card>
    </div>

    <!-- VIEW CHILD ROUTE -->
    <div class="view-child-route" fxFlex.gt-xs fxFlex.xs="none">
        <router-outlet></router-outlet>
    </div>
</div>
