<form
    [formGroup]="form"
    fxLayout="column"
    (ngSubmit)="submit()"
    autocomplete="off"
>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
                type="email"
                matInput
                placeholder="E-mail"
                formControlName="email"
            >
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="form.get('email').errors?.email || form.get('email').errors?.required">
                Insert a valid e-mail
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
            >
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="!form.get('password').errors?.required && form.get('password').errors?.minlength">
                min 6 characters
            </mat-error>
            <mat-error *ngIf="form.get('password').errors?.required">
                required
            </mat-error>
        </mat-form-field>
    </div>

    <div class="actions ion-text-center">
        <button
            type="submit"
            mat-stroked-button
            color="accent"
            [disabled]="loading || form.invalid"
        >
            Sign in
        </button>
    </div>
</form>
