<mat-card mat-card-padding class="mat-elevation-z1">
    <mat-card-header>
        <mat-card-title>
            <h3 class="subtitle is-6 animated fadeInDown">
                Challenge Categories
            </h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list>
            <mat-list-item *ngFor="let item of challengeCategories">
                <a matLine [routerLink]="'/challenges/categories/view/' + item.value" fxLayout fxLayoutAlign="start center"
                    fxLayoutGap="16px">
                    <div mat-line-avatar [style.backgroundImage]="'url(/assets/images/'+ item.image +')'"></div>
                    <h4 mat-line>{{item.label}}</h4>
                </a>
                <button mat-icon-button [routerLink]="'/challenges/categories/view/' + item.value">
                    <mat-icon>zoom_in</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
</mat-card>
