<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                color="light"
                defaultHref="home"
            ></ion-back-button>
        </ion-buttons>

        <ion-title>
            <img
                class="header-logo"
                src="/assets/images/logo-square.svg"
            >
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
    [scrollY]="false"
    [fullscreen]="true"
>
    <!-- FULL HEIGHT -->
    <div
        has-full-min-height-pct
        fxLayout="column"
    >

        <!-- MOOD SCALE SEGMENT -->
        <my-mood-scale-segment
            fxFlex
            fxLayout="column"
            fxLayoutAlign="center center"
            *ngIf="feeling.segment === 'mood-scale'"
        ></my-mood-scale-segment>

        <!-- MOOD ACTION STEP SEGMENT -->
        <my-mood-action-step-segment
            fxFlex
            fxLayout="column"
            fxLayoutAlign="center center"
            *ngIf="feeling.segment === 'action-step'"
        ></my-mood-action-step-segment>
    </div>
</ion-content>

<!-- BACKGROUNDS -->
<div class="bg">

    <!-- BG IMAGE -->
    <div class="bg-desert-clear"></div>

    <!-- BG LOAD -->
    <mood-bg-load *ngIf="feeling.calculating"></mood-bg-load>

    <!-- BG COLORS -->
    <mood-bg-color
        class="animated fadeIn"
        [lastColor]="feeling.currentColor"
        [color]="feeling.currentColor"
        *ngIf="!feeling.load"
    ></mood-bg-color>
</div>
