/*--------  Card  --------*/

$font-size: 14px;
$line-height: 1.4;
$lines-to-show: 2;

[card-content-closed] {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: $font-size * $line-height * $lines-to-show;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

[card] {
    text-align: left;
    padding: 12px 16px;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(255, 255, 255, 0.87);
    font-weight: 500;
    font-size: $font-size;
    font-family: 'OpenSans';

    [card-title] {
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 900;
        margin-bottom: 4px;

        [card-title-label] {
            margin-left: 9px;
            color: rgba(0, 0, 0, 0.4);
        }

        .mat-icon-button {
            line-height: 24px;
            height: 24px;
            width: 24px;
            margin-top: -24px;
            margin-bottom: -24px;
            margin-right: -8px;

            .mat-icon {
                font-size: 16px;
                height: 16px;
                width: 16px;
                line-height: 16px;
                color: rgba(0, 0, 0, .97);
            }
        }
    }

    [card-content] {
        font-size: $font-size;
        line-height: $line-height;
        color: rgba(0, 0, 0, 0.7);
    }

    [card-see-more] {
        margin-top: 1px;
        color: var(--ion-color-tertiary);
    }
}

.icon-locked-content {
    top: 10px;
}
