<div
    class="wrapper animated fadeIn"
    *ngIf="auth.getUser().active_challenge"
>
    <div card>

        <!-- HEADER -->
        <div
            card-title
            fxLayout
            fxLayoutGap="8px"
            fxLayoutAlign="start center"
        >
            <span>{{startCase(auth.getUser().active_challenge.challenge.category)}}</span>
            <span card-title-label>{{auth.getUser().active_challenge.created_at | amDateFormat:'ll'}}</span>

            <span fxFlex></span>

            <mat-menu #appMenu="matMenu">
                <button
                    mat-menu-item
                    (click)="completeActive()"
                >
                    <mat-icon>done</mat-icon>
                    <span>Mark as completed</span>
                </button>
                <button
                    mat-menu-item
                    (click)="cancelActive()"
                >
                    <mat-icon>close</mat-icon>
                    <span>Cancel Challenge</span>
                </button>
            </mat-menu>

            <button
                mat-icon-button
                [matMenuTriggerFor]="appMenu"
            >
                <mat-icon>more_horiz</mat-icon>
            </button>
        </div>

        <!-- CONTENT -->
        <div
            card-content
            [attr.card-content-closed]="closed ? true : null"
            [fxHide]="!auth.getUser().active_challenge.challenge.text"
        >
            {{auth.getUser().active_challenge.challenge.text}}
        </div>

        <div fxLayout>
            <div
                card-see-more
                (click)="closed = !closed"
            >
                see more
            </div>
            <span fxFlex></span>
            <div
                card-see-more
                (click)="openBrowser(auth.getUser().active_challenge.challenge?.link)"
                [fxHide]="!auth.getUser().active_challenge.challenge?.link"
            >
                {{auth.getUser().active_challenge.challenge?.label}}
            </div>
        </div>
    </div>
</div>
<div
    class="wrapper animated fadeIn"
    *ngIf="!auth.getUser().active_challenge"
>
    <button
        has-full-width-pct
        mat-flat-button
        mat-action-button
        color="gradient"
        type="button"
        (click)="newChallenge()"
    >
        My Action Steps
    </button>
</div>
