:host {
    z-index: 0;
}

:host,
.bg-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bg-color {
    z-index: 0;
    opacity: 0;
    transition: opacity ease-in-out 1s;

    &.active {
        opacity: 1;
        z-index: 1;
    }

    &.last {
        opacity: 1;
        z-index: 0;
    }
}

.bg-color-default-default,
.bg-color-default-little,
.bg-color-default-pretty,
.bg-color-default-very,
.bg-color-default-extremely {
    background: linear-gradient(to bottom, var(--ion-color-default-default-dark) 0%, var(--ion-color-default-default-light) 100%);
}

.bg-color-angry-default {
    background: linear-gradient(to bottom, var(--ion-color-angry-default-dark) 0%, var(--ion-color-angry-default-light) 100%);
}

.bg-color-angry-little {
    background: linear-gradient(to bottom, var(--ion-color-angry-little-dark) 0%, var(--ion-color-angry-little-light) 100%);
}

.bg-color-angry-pretty {
    background: linear-gradient(to bottom, var(--ion-color-angry-pretty-dark) 0%, var(--ion-color-angry-pretty-light) 100%);
}

.bg-color-angry-very {
    background: linear-gradient(to bottom, var(--ion-color-angry-very-dark) 0%, var(--ion-color-angry-very-light) 100%);
}

.bg-color-angry-extremely {
    background: linear-gradient(to bottom, var(--ion-color-angry-extremely-dark) 0%, var(--ion-color-angry-extremely-light) 100%);
}

.bg-color-depressed-default {
    background: linear-gradient(to bottom, var(--ion-color-depressed-default-dark) 0%, var(--ion-color-depressed-default-light) 100%);
}

.bg-color-depressed-little {
    background: linear-gradient(to bottom, var(--ion-color-depressed-little-dark) 0%, var(--ion-color-depressed-little-light) 100%);
}

.bg-color-depressed-pretty {
    background: linear-gradient(to bottom, var(--ion-color-depressed-pretty-dark) 0%, var(--ion-color-depressed-pretty-light) 100%);
}

.bg-color-depressed-very {
    background: linear-gradient(to bottom, var(--ion-color-depressed-very-dark) 0%, var(--ion-color-depressed-very-light) 100%);
}

.bg-color-depressed-extremely {
    background: linear-gradient(to bottom, var(--ion-color-depressed-extremely-dark) 0%, var(--ion-color-depressed-extremely-light) 100%);
}

.bg-color-happy-default {
    background: linear-gradient(to bottom, var(--ion-color-happy-default-dark) 0%, var(--ion-color-happy-default-light) 100%);
}

.bg-color-happy-little {
    background: linear-gradient(to bottom, var(--ion-color-happy-little-dark) 0%, var(--ion-color-happy-little-light) 100%);
}

.bg-color-happy-pretty {
    background: linear-gradient(to bottom, var(--ion-color-happy-pretty-dark) 0%, var(--ion-color-happy-pretty-light) 100%);
}

.bg-color-happy-very {
    background: linear-gradient(to bottom, var(--ion-color-happy-very-dark) 0%, var(--ion-color-happy-very-light) 100%);
}

.bg-color-happy-extremely {
    background: linear-gradient(to bottom, var(--ion-color-happy-extremely-dark) 0%, var(--ion-color-happy-extremely-light) 100%);
}

.bg-color-anxious-default {
    background: linear-gradient(to bottom, var(--ion-color-anxious-default-dark) 0%, var(--ion-color-anxious-default-light) 100%);
}

.bg-color-anxious-little {
    background: linear-gradient(to bottom, var(--ion-color-anxious-little-dark) 0%, var(--ion-color-anxious-little-light) 100%);
}

.bg-color-anxious-pretty {
    background: linear-gradient(to bottom, var(--ion-color-anxious-pretty-dark) 0%, var(--ion-color-anxious-pretty-light) 100%);
}

.bg-color-anxious-very {
    background: linear-gradient(to bottom, var(--ion-color-anxious-very-dark) 0%, var(--ion-color-anxious-very-light) 100%);
}

.bg-color-anxious-extremely {
    background: linear-gradient(to bottom, var(--ion-color-anxious-extremely-dark) 0%, var(--ion-color-anxious-extremely-light) 100%);
}
