:host {
    max-width: calc(100% + 41px);
    height: 300px;

    @media (max-height: 740px) {
        height: 180px;

        ion-slide {
            height: 180px;

            .slider-card {
                width: 50%;
                min-width: 162px;
            }
        }
    }
}

ion-slide {
    max-width: 100%;
    width: 216px;
    height: 300px;
    margin: auto;
    font-weight: 700;

    &:not(.swiper-slide-active) {
        transition: height ease-in-out .7s;
    }

    .slider-card {
        background-size: cover;
        background-position: center center;
        margin: 0 auto;
        width: 60%;
        border-radius: 7px;
        position: relative;
        overflow: hidden;
    }

    .slide-title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        padding: 16px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.95)), color-stop(40%, rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.85) 40%, rgba(0, 0, 0, 0) 100%)
    }
}
