<ion-slides
    [options]="slideOpts"
    (ionSlidesDidLoad)="onLoadSlider($event)"
    (ionSlideDidChange)="onChangeSlide($event)"
    *ngIf="actionStep.entries.length"
>
    <ion-slide
        *ngFor="let entry of actionStep.entries; index as i"
        class="animated fadeInLeft"
        fxLayout="column"
        fxLayoutAlign="end center"
        [style.animation-delay]="(.0 + (i / 10)) + 's'"
    >
        <div
            class="slider-card"
            [ngStyle]="{'background-image': actionStep.getBackgroundImage(entry.category)}"
            fxLayout="column"
            fxLayoutAlign="end center"
            fxFlex
        >
            <div class="slide-title">
                {{startCase(entry.category)}}
            </div>
        </div>
    </ion-slide>
</ion-slides>
