.mat-toolbar {
    background-color: transparent !important;
    display: flex;
    align-items: center;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

    .dropdown {
        display: block;
    }

    .user-avatar {
        margin-top: 8px;
    }

    a {
        color: #555;
    }

    a.menu {
        margin-top: 4px;
        margin-left: 8px;
    }

    i {
        font-size: 18px;
    }
}
