<mat-toolbar>
    <a class="flex-center menu" (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
    </a>

    <span fxFlex></span>

    <div class="flex-center">
        <a class="flex-center" (click)="showUserMenu=!showUserMenu">
            <user-avatar [url]="auth.user.photo_url" [online]="true"></user-avatar>
            <span class="online mat-elevation-z1"></span>
        </a>
        <div class="dropdown is-right" [ngClass]="{'is-active':showUserMenu}">
            <div class="dropdown-menu animated fadeIn" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div>
                        <a [routerLink]="'/users/manage/'+auth.user.uid" class="dropdown-item">
                            <div class="has-icon">
                                <i class="fas fa-user-circle"></i>
                                <span>Profile</span>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                    </div>
                    <a (click)="auth.signOut(); showUserMenu=false" class="dropdown-item">
                        <div class="has-icon">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</mat-toolbar>
