<div class="wrapper ion-text-center">
    <div
        class="user-image"
        *ngIf="user.photo_url"
        [style.backgroundImage]="'url(' + user.photo_url + ')'"
        [style.width]="diameter"
        [style.height]="diameter"
    >
    </div>
    <mat-icon
        fontSet="far"
        fontIcon="fa-user-circle"
        [hidden]="user.photo_url"
        [style.fontSize]="diameter"
        [style.width]="diameter"
        [style.height]="diameter"
    ></mat-icon>
</div>
