.mat-icon {
    color: rgba(255, 255, 255, .3);
}

.user-image {
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    border-radius: 100%;
}
