<form class="animated faster fadeInRight" #signForm="ngForm" (ngSubmit)="submit()">

    <mat-form-field class="full">
        <input #emailField matInput placeholder="Email" id="email" type="email" required [(ngModel)]="entry.email" name="username"
            spellcheck="false" autocapitalize="off">
    </mat-form-field>

    <mat-form-field class="full">
        <input #passwordField matInput placeholder="Password" id="password" type="password" required [(ngModel)]="entry.password"
            name="password" spellcheck="false" autocapitalize="off">
    </mat-form-field>

    <div class="control is-grouped">
        <p class="control">
            <button mat-button type="submit" class="fb" color="accent" [disabled]="!signForm.valid||loading" [ngClass]="{'is-loading':loading === true}">
                <span>Sign In</span>
                <span class="icon">
                    <i class="fas fa-long-arrow-alt-right"></i>
                </span>
            </button>
        </p>
        <p class="control has-text-right">
            <button type="button" mat-button color="primary" routerLink="/login/forgot">
                <span>Forgot password?</span>
            </button>
        </p>

    </div>

    <app-loader-bar class="animated fadeInUp" [color]="'accent'" [ngClass]="{'is-hidden':!loading}"></app-loader-bar>
</form>
