.notification {
    line-height: 18px;
    text-align: left;
    margin-bottom: -54px;
}

p {
    margin: 0;
    width: 100%;
}

.button {
    height: 40px;
    width: 100%;
    display: inherit;
}

form {
    padding: 20px;
}

.control.is-grouped {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.full {
    width: 100%;
}

button.lost {
    margin-top: -3px;
}

.social {
    margin: -20px auto 10px;
}

.social button {
    border: 1px solid #eee;
    margin: 0 auto;
    font-size: 13px;
    border-radius: 7px;
}

.social button.fb {
    margin-left: 4px;
}

app-loader-bar {
    display: block;
    margin: 29px -36px -20px;
}

@media screen and (max-width: 479px) {
    .social {
        margin-top: -16px;
        display: block;
    }

    .social button {
        width: 100%;
    }

    .social button.fb {
        margin-left: 0;
    }
}
