ngx-charts-bar-vertical {
    margin-top: 16px;
    margin-right: -20px;
}

.no-data {
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, .4);
    text-align: center;

    .mat-icon {
        color: rgba(255, 255, 255, .4);
    }
}
