<div
    *ngIf="!loading && noData"
    class="no-data"
    fxLayout="column"
    fxLayoutAlign="center center"
>
    <div>
        <mat-icon>info</mat-icon>
        <div>no data</div>
    </div>
</div>

<ngx-charts-bar-vertical
    fxFlex
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [yAxisTickFormatting]="yFormat"
    *ngIf="!loading && !noData"
>
</ngx-charts-bar-vertical>
