<modal-overlay
    mode="sky"
    [attr.is-transparent]="true"
>
    <div
        class="mo-content-fix"
        fxLayout="column"
    >
        <div
            class="mo-header"
            fxLayout
            fxLayoutGap="16px"
            fxLayoutAlign="start center"
        >
            <div
                class="mo-header-icon-circle"
                fxLayout="column"
                fxLayoutAlign="center center"
            >
                <mat-icon
                    fontSet="fas"
                    [fontIcon]="'fa-file-medical-alt'"
                ></mat-icon>
            </div>

            <div>
                <div class="mo-header-title">Medical Disclaimer</div>
            </div>
        </div>

        <div
            class="mo-scroll-wrapper"
            fxLayout="column"
            fxFlex
        >
            <ion-content
                scrollY="true"
                fxFlex
            >
                <div>Neuraboot provides general information for educational purposes only and is not a substitute for medical or professional care, and should not be used in place of a call or visit to your physician or other health care provider. Neuraboot is not liable or responsible for any advice, course of treatment, diagnosis or any other information, services or products obtained through this app or as a consequence of using this app.</div>

                <br>
                <br>

                <!-- CHECKBOX -->
                <mat-checkbox [(ngModel)]="terms">I agree to terms</mat-checkbox>

                <div class="actions ion-margin-top ion-text-center">
                    <button
                        mat-raised-button
                        mat-action-button
                        color="gradient"
                        (click)="confirm()"
                        [disabled]="!terms"
                    >
                        Confirm
                    </button>
                </div>
            </ion-content>
        </div>
    </div>
</modal-overlay>
