<br />
<div fxLayout.xs="column" fxLayout fxLayoutGap="24px" *ngIf="!record.load && !record.isEmptyEntry()">

    <!-- VIEW SIDENAV -->
    <div fxFlex.gt-xs="0 0 240px" fxFlex.xs="none" fxLayout="column" fxLayoutGap="24px">

        <!-- AVATAR PANEL -->
        <mat-card mat-details-card class="mat-elevation-z1">
            <!-- <user-avatar class="mat-elevation-z1" [url]="record.entry.photo_url" [online]="record.entry.online_at?moment(record.entry.online_at).unix() >= moment().subtract(1, 'hour').unix():false"></user-avatar> -->

            <h2 class="is-title is-4 has-text-centered" fxLayout fxLayoutAlign="center center" fxLayoutGap="8px">
                <i class="far" [ngClass]="{'fa-play-circle has-text-success': record.entry.active, 'fa-pause-circle has-text-danger': !record.entry.active }"></i>
                <span>{{record.entry.label}}</span>
            </h2>

            <br />
            <p>
                Name: <strong>{{record.entry.name}}</strong>
            </p>

            <p>
                Category: <strong>{{record.service.transformCategoryName(record.entry.category)}}</strong>
            </p>

            <p>
                Status:
                <strong [ngClass]="{'has-text-success': record.entry.active, 'has-text-danger': !record.entry.active }">
                    {{record.entry.active ? 'Active' : 'Inactive'}}
                </strong>
            </p>
        </mat-card>

        <!-- NAV LIST -->
        <mat-card class="user-card mat-elevation-z1" has-nav-list>
            <mat-nav-list small>
                <mat-list-item [ngClass]="{'danger': record.entry.active, 'success' : !record.entry.active}" *ngIf="auth.hasRole('admin')"
                    (click)="toggleStatus()">
                    <mat-icon matListIcon>cached</mat-icon>
                    <a matLine>
                        {{record.entry.active ? 'Turn off' : 'Turn on'}}
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>zoom_in</mat-icon>
                    <a matLine [routerLink]="record.getViewUrl()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Details</a>
                </mat-list-item>
                <mat-list-item *ngIf="auth.hasRole('admin')">
                    <mat-icon matListIcon>edit</mat-icon>
                    <a matLine [routerLink]="record.getUpdateUrl()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        Edit feeling</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>arrow_back</mat-icon>
                    <a matLine [routerLink]="record.service.listUrl">Go back</a>
                </mat-list-item>
            </mat-nav-list>
        </mat-card>
    </div>

    <!-- VIEW CHILD ROUTE -->
    <div class="view-child-route" fxFlex.gt-xs fxFlex.xs="none">
        <router-outlet></router-outlet>
    </div>
</div>
