<!-- FORM -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" [attr.form-loading]="ui.loading ? true : null">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <div class="has-icon">
                    <mat-icon fontSet="fa" fontIcon="fa-heartbeat"></mat-icon>
                    <h4 class="title is-6">{{service.title.form}}</h4>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div fxLayout="row">
                <mat-form-field class="column" fxFlex>
                    <input type="text" formControlName="label" matInput placeholder="Label">
                    <mat-error *ngIf="form.get('label').errors?.required">
                        required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="column" fxFlex>
                    <input type="text" formControlName="name" matInput placeholder="Name">
                    <mat-error *ngIf="form.get('name').errors?.required">
                        required
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field class="column" fxFlex>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" placeholder="Category">
                        <mat-option *ngFor="let item of categories" [value]="item.value">
                            {{item.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <br>

            <div class="column" fxLayout="column">
                <mat-slide-toggle fxFlex.xs="auto" fxFlex="0 0 calc(100%-16px)" color="primary" formControlName="active">
                    {{form.get('active').value === true ? 'Active' : 'Inactive'}}
                </mat-slide-toggle>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="16px">
                <button mat-button type="button" (click)="cancel()">Cancel</button>
                <button mat-button color="primary" type="submit" [disabled]="!form.valid || ui.loading">
                    {{edit ? 'Save' : 'Create'}}
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>
