.mat-card.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    //  padding: 20px;
    h4 {
        border-top: 1px solid #eee;
        width: 100%;
        justify-content: center;
        padding: 10px 0 0 0;
        margin-top: -17px !important;
        text-align: center;
        line-height: 24px;
    }
}
