<mat-card class="wrapper mat-elevation-z1">

    <div class="spinner-outer animated fadeInUp" [ngClass]="{'is-hidden':!loading}">
        <mat-progress-spinner strokeWidth="4" diameter="30" class="spinner small" [color]="'accent'" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>

    <h3 class="title is-1 animated fadeIn" [ngStyle]="{'color':color}" [ngClass]="{'is-hidden':loading}">
        <i class="{{icon}}"></i>
    </h3>

    <h4 class="title {{size}} has-icon animated fadeIn" [ngStyle]="{'color':color}" [ngClass]="{'is-hidden':loading}">
        {{value}}
        <br *ngIf="isAggs" />
        {{title}}
    </h4>

</mat-card>
