[mat-button-stick-footer] {
    margin: 0 -16px;
    margin-bottom: -16px;
}

.mo-selection-area {
    background-color: rgba(0, 0, 0, .1);
    height: 60px;
    margin: 0 -16px;
    padding: 0 4px;
}

mat-selection-list {
    margin: 0 -16px;
}
