<modal-overlay
    [attr.is-transparent]="true"
    mode="card"
    [enableBackdropDismiss]="true"
>
    <div
        class="mo-content-fix"
        fxLayout="column"
    >
        <!-- HEADER -->
        <div class="mo-header has-letter-spacing ion-text-center">
            Choose {{component.limit}}
            {{component.limit>1?component.label+'s':component.label}}

            <button
                class="mo-header-close-image-btn"
                type="button"
                (click)="dismiss()"
            ></button>
        </div>

        <!-- SELECTION AREA -->
        <div
            class="mo-selection-area selected-items page-tags"
            fxLayoutGap="1px"
        >
            <div
                class="page-tag"
                has-overflow-hidden
                *ngFor="let item of component.selectedItems"
            >
                <span>{{item.title}}</span>
                <button
                    (click)="component.removeItem(item)"
                    class="remove-btn"
                    type="button"
                    name="delete-word"
                ></button>
            </div>
        </div>

        <div
            class="mo-scroll-wrapper"
            fxLayout="column"
            fxFlex
        >
            <ion-content
                scrollY="true"
                fxFlex
            >
                <mat-selection-list
                    class="items"
                    is-card-list
                    has-border
                    color="primary"
                >
                    <mat-list-option
                        *ngFor="let item of component.items"
                        class="has-text-grey-darker has-text-left"
                        (click)="component.addItem(item)"
                    >
                        {{item.title}}
                    </mat-list-option>
                </mat-selection-list>
            </ion-content>

            <!-- ACTION -->
            <button
                class="animated fadeIn"
                mat-flat-button
                mat-action-button
                mat-button-stick-footer
                color="gradient"
                (click)="dismiss()"
            >
                Done
            </button>
        </div>
    </div>
</modal-overlay>
