p {
    margin: 0;
    width: 100%;
}

.button {
    height: 40px;
    width: 100%;
    display: inherit;
}

form {
    padding: 20px;
}

.control.is-grouped {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.full {
    width: 100%;
}

button.lost {
    margin-top: -3px;
}

app-loader-bar {
    display: block;
    margin: 29px -36px -20px;
}
