<form class="animated faster fadeInLeft" #signForm="ngForm" (ngSubmit)="submit()">
    <mat-form-field class="full">
        <input matInput placeholder="Email" #input id="email" type="email" required [(ngModel)]="entry.email" name="username"
            spellcheck="false" autocapitalize="off">
    </mat-form-field>

    <div class="control is-grouped">
        <p class="control">
            <button mat-button type="submit" class="fb" color="accent" [disabled]="signForm.invalid||loading" [ngClass]="{'is-loading':loading === true}">
                <span>Send</span>
                <span class="icon">
                    <i class="fas fa-long-arrow-alt-right"></i>
                </span>
            </button>
        </p>
        <p class="control has-text-right">
            <button type="button" mat-button color="primary" routerLink="/login">
                <span>Sign In</span>
            </button>
        </p>

    </div>
    <app-loader-bar class="animated fadeInUp" [color]="'accent'" [ngClass]="{'is-hidden':!loading}"></app-loader-bar>
</form>
