<br />
<div fxLayout="column" fxLayoutGap="24px" *ngIf="!record.load && !record.isEmptyEntry()">
    <div class="columns">
        <div class="column is-half">
            <chart-bar [view]="[330, 220]" [setup]="chartBarTopCategoryFeelings"></chart-bar>
        </div>

        <div class="column is-half">
            <chart-bar [view]="[330, 220]" [setup]="chartBarTopCategoryUsers" [colorScheme]="chartBarSecondaryColors"></chart-bar>
        </div>
    </div>

    <div class="columns is-multiline">
        <div class="column is-half" *ngFor="let item of chartNumbers">
            <chart-number [icon]="item.extra.icon" [title]="item.extra.title" [size]="item.extra.size" [color]="item.extra.color"
                [setup]="item.setup"></chart-number>
        </div>
    </div>

    <div>
        <chart-line *ngIf="chartLines.length" [setup]="chartLines" [view]="[440, 304]"></chart-line>
    </div>
</div>
