<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <img mat-card-avatar src="/assets/images/logo.svg" class="logo">
            <mat-card class="animated flipInY">
                <mat-card-content>
                    <router-outlet></router-outlet>
                </mat-card-content>
            </mat-card>
            <small class="app-version">v{{version | version}} <span *ngIf="testing">(test)</span><span *ngIf="staging">(dev)</span></small>
        </div>
    </div>
</section>
