.hero {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/assets/images/bg-desert-blue.svg');
        background-size: cover;
        background-position: center center;
        opacity: 1;
    }
}

.mat-card-avatar {
    height: 54px;
    width: 100%;
    border-radius: unset;
}

.logo {
    height: 44px;
    width: 100%;
    max-width: 60px;
    border-radius: unset;
    margin: 0 auto 21px;
    display: block;
}

form {
    padding-top: 0;
}

.app-version {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 20px;
    color: rgba(255, 255, 255, .7);
    font-size: 11px;
}

mat-card.mat-card {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.87);
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding-bottom: 0px;
    padding-top: 30px;

    mat-card-title {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    mat-card-content.mat-card-content {
        padding-top: 25px;
        margin-bottom: 0;

    }

    mat-card-header {
        justify-content: center;
    }

    .full {
        width: 100%
    }

    button.sign {
        position: absolute;
        bottom: 0;
        left: 0;
        border-width: 1px 0 0 0;
        border-radius: 0;
        padding: 20px;
        height: inherit;
    }

    small.min {
        margin-top: -32px;
        display: block;
        color: #888;
    }
}
