.mat-card {
    min-height: 130px;
    position: relative;
    overflow: hidden;

    .bg,
    .bg-color {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .bg {
        background-image: url('/assets/images/bg-desert-clear.svg');
        background-size: cover;
        background-position: center top;
        z-index: 1;
    }

    .bg-color {
        z-index: 0;
        opacity: 0;
        transition: opacity ease-in-out 1s;
    }

    .bg-color[show] {
        opacity: 1;
    }

    .bg-color[currentFeeling="noData"][show] {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(116, 100, 103, 1) 100%);
        opacity: .4;
    }

    .bg-color[currentFeeling="angry"] {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(116, 100, 103, 1) 100%);
    }

    .bg-color[currentFeeling="depressed"] {
        background: linear-gradient(to bottom, rgba(46, 42, 85, 1), rgba(80, 133, 196, 1) 100%);
    }

    .bg-color[currentFeeling="anxious"] {
        background: linear-gradient(to bottom, rgba(70, 46, 92, 1), rgba(115, 88, 134, 1) 100%)
    }

    .bg-color[currentFeeling="happy"] {
        background: linear-gradient(to bottom, rgba(208, 122, 19, 1), rgba(241, 132, 66, 1) 100%)
    }

    .mat-headline {
        margin-bottom: 5px !important;
    }

    .content-wrapper {
        position: relative;
        z-index: 2;
        color: rgba(255, 255, 255, .87);

        &.no-data {
            color: rgba(0, 0, 0, .87);
        }
    }
}
