<mat-card class="wrapper mat-elevation-z1" fxLayout="column" fxLayoutAlign="center center">

    <!-- BG -->
    <div class="bg"></div>

    <!-- BG COLOR -->
    <div class="bg-color" [attr.show]="!load ? true : null" [attr.currentFeeling]="entry?.category ? entry?.category : 'noData'"></div>

    <!-- LOADING -->
    <div class="spinner-outer animated fadeInUp" *ngIf="load">
        <mat-progress-spinner strokeWidth="4" diameter="30" class="spinner small" [color]="'accent'" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>

    <!-- CONTENT -->
    <div class="content-wrapper has-text-centered" fxLayout="column" fxLayoutAlign="center center" *ngIf="!load && entry">
        <div class="feeling-category mat-caption">
            Currently feeling
        </div>

        <div class="feeling-category mat-headline">
            {{ feelingSpecific.transformCategoryName(entry.category) }}
        </div>

        <div class="feeling-specific mat-caption">
            They describe their feeling as <b>{{ entry.specific[0].label }}</b>
        </div>
    </div>

    <div class="content-wrapper no-data" fxLayout="column" fxLayoutAlign="center center" *ngIf="!load && !entry">
        <div class="feeling-specific mat-caption">
            User didn't select a feeling yet
        </div>
    </div>
</mat-card>
