<!-- FULL HEIGHT -->
<div
    has-full-width-pct
    class="wrapper"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    fxFlex
>
    <!-- PAGE TITLE -->
    <div class="page-title-small page-title-margin">
        {{feeling.calculating ? 'Hang on...' : 'My Mood'}}
    </div>

    <!-- FEELING FORM COMPONENT -->
    <div
        has-full-width-pct
        fxFlex
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div has-full-width-pct>
            <div fxLayout>
                <mood-scale-form
                    style="height: 170px"
                    fxFlex="0 0 100%"
                    *ngIf="!feeling.load && !feeling.calculating"
                ></mood-scale-form>
            </div>
        </div>
    </div>

    <!-- SPECIFIC FEELING FORM SPACE -->
    <div
        has-full-width-pct
        fxFlex="0 0 180px"
    ></div>

    <!-- SPECIFIC FEELING FORM -->
    <mood-specific-feeling-form [hidden]="feeling.calculating"></mood-specific-feeling-form>
</div>
