<ion-content [scrollY]="false">
    <!-- FULL HEIGHT -->
    <div has-full-min-height-pct fxLayout="column">
        <!-- SCROLL CONTENT -->
        <ion-content class="ion-padding-start ion-padding-end" fxFlex>
            <div fxLayout="column" fxLayoutGap="58px" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="center center">
                    <img class="content-header-logo" src="/assets/images/logo-square.svg" />

                    <div class="page-title-extra-small has-letter-spacing">Neuraboot</div>
                </div>

                <div class="presentation-label-wrapper ion-text-center" color="gradient-light">
                    <b>First</b>, fill out your <b>Profile</b> to list someone you would like notified when you need support.<br /><br />
                    Throughout the day, check your <b>Mood</b>. If your mood is very intense, we’ll give you the option to let us notify
                    your supporters.<br /><br />
                    At any time, you can complete an <b>Action Step</b>, using the button at the bottom of the home screen, to earn badges
                    and build emotional muscle!<br />
                </div>
            </div>
        </ion-content>

        <!-- FOOTER -->
        <div class="ion-padding-bottom ion-padding-start ion-padding-end" fxLayout="column" fxLayoutGap="16px">
            <!-- Send back to home -->

            <div fxLayout fxLayoutGap="16px" fxLayoutAlign="center">
                <button
                    _ngcontent-ips-c8=""
                    color="gradient"
                    has-full-width-pct=""
                    mat-action-button=""
                    mat-flat-button=""
                    type="button"
                    class="mat-flat-button mat-gradient"
                    ng-reflect-color="gradient"
                    [routerLink]="['/home']"
                >
                    <span class="mat-button-wrapper"> Okay </span>
                    <div
                        class="mat-button-ripple mat-ripple"
                        matripple=""
                        ng-reflect-centered="false"
                        ng-reflect-disabled="false"
                        ng-reflect-trigger="[object HTMLButtonElement]"
                    ></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
            </div>
        </div>
    </div>
</ion-content>
