<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" side="end" [disabled]="!auth.user.uid">
            <ion-content [scrollY]="false">
                <!-- FULL HEIGHT -->
                <div has-full-min-height-pct fxLayout="column">
                    <div fxFlex="0 0 24px" class="safe-padding"></div>

                    <!-- USER AVATAR -->
                    <user-avatar-details></user-avatar-details>
                    <div fxFlex="0 0 32px"></div>

                    <!-- MENU -->
                    <ion-list lines="none" is-custom-menu *ngIf="auth.user.uid">
                        <ion-menu-toggle>
                            <ion-item [detail]="false" [routerLink]="['/home']">
                                <mat-icon slot="start" [fontSet]="'fas'" fontIcon="fa-home"></mat-icon>
                                <ion-label>
                                    Home
                                </ion-label>
                            </ion-item>
                        </ion-menu-toggle>

                        <ion-menu-toggle>
                            <ion-item [detail]="false" [routerLink]="['/account']">
                                <mat-icon slot="start" [fontSet]="'fas'" [fontIcon]="'fa-user-circle'"></mat-icon>
                                <ion-label>
                                    Account
                                </ion-label>
                            </ion-item>
                        </ion-menu-toggle>

                        <ion-item [detail]="false" [routerLink]="['/home']">
                            <mat-icon slot="start" [fontSet]="'fab'" [fontIcon]="'fa-facebook'"></mat-icon>
                            <ion-label>
                                Social connect
                            </ion-label>
                            <mat-slide-toggle
                                style="margin-top: 3px;"
                                slot="end"
                                color="warn"
                                (toggleChange)="user.socialConnect('facebook.com')"
                                [checked]="auth.user.facebook_connected"
                            ></mat-slide-toggle>
                        </ion-item>

                        <ion-item>
                            <mat-icon slot="start" [fontSet]="'fas'" [fontIcon]="'fa-bell'"></mat-icon>
                            <ion-label>
                                Notifications
                            </ion-label>
                            <mat-slide-toggle style="margin-top: 3px;" slot="end" color="warn"></mat-slide-toggle>
                        </ion-item>

                        <ion-menu-toggle>
                            <ion-item [detail]="false" [routerLink]="['/how-it-works']">
                                <mat-icon slot="start" [fontSet]="'fas'" [fontIcon]="'fa-question-circle'"></mat-icon>
                                <ion-label>
                                    How It Works
                                </ion-label>
                            </ion-item>
                        </ion-menu-toggle>

                        <ion-menu-toggle>
                            <ion-item (click)="auth.signOut()">
                                <mat-icon slot="start" [fontSet]="'fas'" [fontIcon]="'fa-power-off'"></mat-icon>
                                <ion-label>
                                    Logout
                                </ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>

                    <div fxFlex></div>

                    <!-- VERSION -->
                    <div class="version ion-text-center">
                        <small>v{{ version }}</small>
                    </div>
                    <div fxFlex="16px"></div>
                </div>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content" [swipeGesture]="ui.swipeGesture"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
