@import 'node_modules/@angular/material/theming';
@import 'node_modules/@covalent/core/theming/all-theme';

// (optional) Additional themes
// @import 'node_modules/@covalent/markdown/markdown-theme';
// @import 'node_modules/@covalent/highlight/highlight-theme';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Montserrat, Arial',
  $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core($typography); // $typography is an **optional** argument for the mat-core

$primary: mat-palette($mat-grey, 700, 300, 900);
$accent: mat-palette($mat-deep-orange, 700, 300, 900);

$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

//@include angular-material-theme($theme);
@include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme

// (optional) Additional themes
// @include covalent-markdown-theme($theme);
// @include covalent-highlight-theme();