html,
body {
    margin: 0;
    background-color: rgba(238, 238, 238, 0.23);
    overflow: hidden;
}

html,
body,
app-root,
app-auth-protected-route {
    min-height: 100%;
    height: 1px;
    display: block;
    display: relative;
}

a {
    -o-transition: 0.5s !important;
    -ms-transition: 0.5s !important;
    -moz-transition: 0.5s !important;
    -webkit-transition: 0.5s !important;
    transition: 0.5s !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.full-width {
    width: 100%;
}

.is-title {
    display: flex;
    align-items: center;
    justify-content: center;

    span.country {
        margin-top: 4px;
        margin-right: 5px;
        margin-left: -26px;
    }
}

.container {
    max-width: 780px;

    .hero-body {
        padding: 20px 0;
    }
}

.content .td-paging-bar {
    color: #ccc;
}

.content .td-data-table-column {
    vertical-align: middle;
    color: #ccc !important;
}

.content .td-data-table {
    margin-bottom: 0 !important;
}

.content table td,
.content table th {
    border-bottom: 1px solid #4c4949;
}

.content table tr:hover>td,
.content table tr:hover>th {
    background-color: #333;
}

.content table tr td span {
    font-size: 12px;
    word-break: break-all;
}

.content .td-data-table-scrollable {
    min-height: 300px;
}

.content li+li {
    margin-top: 0;
}

form {
    small {
        margin-left: 8px;
    }

    .mat-slider-horizontal .mat-slider-thumb-label {
        top: -50px;
    }

    .mat-slider-thumb-label {
        width: 35px;
        height: 35px;
    }

    .mat-slider-thumb-label-text {
        font-size: 10px !important;
    }
}

.controls {
    font-size: 12px;
    margin: 42px auto;
    display: block;
    width: fit-content;

    div {
        display: flex;
        align-items: center;
    }

    a {
        padding: 9px 20px;
        border-color: #6d6d6d !important;
        color: #ccc;

        &.vertical {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &:hover {
            color: rgb(56, 55, 55); //  background-color: #6d6d6d;

        }
    }

    li:first-child a {
        padding-left: 2em !important;
    }

    li:last-child a {
        padding-right: 2em !important;
    }

    span.price {
        font-size: 30px;
    }
}

.has-icon {
    display: flex;
    align-items: center;

    i,
    .mat-icon {
        width: 21px;
        margin-right: 5px;
        text-align: center;
        height: auto;
    }
}

.mat-card {
    .has-icon {
        margin-top: 12px;
    }
}

.ngx-dnd-item {
    transition: opacity 0.4s ease-in-out;
    display: block;

    &:not(.has-handle):not(.move-disabled),
    &.has-handle [ngxdraghandle],
    &.has-handle [ngxDragHandle] {
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    .ngx-dnd-content {
        user-select: none;
    }

    &:hover {
        // border: 1px solid blue;

    }
}

.gu-mirror {
    position: fixed !important;

    // margin: 0 !important;
    z-index: 1;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.textarea {
    border: 0;
    padding: 0;
    box-shadow: none;
    background: transparent;
}

.mat-drawer-content {
    overflow-x: hidden !important;
}

.mat-expansion-indicator::after {
    color: #ccc;
}


/*--------  Form  --------*/

[form-loading] {
    opacity: .5;
}

[form-caption] {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    margin-top: 16px;
    padding: 0 0.75rem;
}

/*--------  Has nav list  --------*/

[mat-line-avatar] {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
}

[mat-details-card] {

    [mat-details-avatar] {
        background-size: cover;
        background-position: center center;
        width: 75px;
        height: 75px;
        margin: 0 auto;
        margin-top: -62px !important;
        margin-bottom: 16px;
        border-radius: 100%;
    }

    .user-avatar {
        margin-top: -62px !important;

        &.has-image {
            img {
                -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            }
        }

        img {
            width: 75px !important;
            height: 75px !important;
            max-width: 100px !important;
        }

        .status {
            margin: 61px 0 0 -13px !important;
        }
    }

    p {
        font-size: 12px;
        line-height: 22px;
    }
}

.mat-card[has-nav-list] {
    padding-left: 0;
    padding-right: 0;

    .mat-nav-list {
        padding-top: 0;

        .mat-list-item {
            position: relative;
            height: 34px;

            &.disabled {
                pointer-events: none;
                opacity: .4;

                &:hover {
                    background-color: transparent;
                }
            }

            &:not(:last-of-type) {
                margin-bottom: 4px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 3px;
                height: 100%;
                background-color: #4d4d4d;
            }

            &.success:before {
                background-color: #386d0b;
            }

            &.danger:before {
                background-color: #f44336;
            }

            a {
                font-weight: 300;
                font-size: 14px;
            }

            .mat-icon {
                font-size: 18px;
                width: 18px;
                height: 18px;
                color: rgba(0, 0, 0, .87);
            }

            .mat-list-text {
                padding-left: 4px !important;
            }
        }
    }
}

.is-title span.country {
    margin-top: 4px;
    margin-right: 5px;
}


/*--------  Table  --------*/

.table-entries {

    i.far,
    i.fa {
        font-size: 24px;
    }

    i.success {
        color: green;
    }

    i.danger {
        color: red;
    }
}

/*--------  Fixed fab  --------*/

[fixed-fab-container] {
    z-index: 1;
    position: fixed;
    bottom: 50px;
    right: 45px;

    [fixed-mini-fab] {
        background-color: #777;
    }
}


/*--------  Mat card padding  --------*/

[mat-card-padding] {
    padding: 35px 24px !important;

    .mat-nav-list .mat-list-item .mat-list-item-content {
        padding: 0;
    }
}
