.question {
    .item {
        &.has-info {
            &:after {
                content: "";
                display: inline-block;
                padding: 9px;
                margin-top: -2px;
                margin-left: 5px;
                vertical-align: middle;
                background: url('/assets/images/icon-info.svg') no-repeat center (top / contain);
            }
        }
    }
}
