<div
    class="wrapper"
    fxLayout="column"
    fxLayoutGap="48px"
>
    <div
        class="question ion-text-center"
        *ngFor="let question of questions"
        fxLayout="column"
        fxLayoutGap="16px"
    >
        <!-- <div>
            <mat-icon [fxHide]="!(question.selected.length===question.min)">Done</mat-icon>
            <div
                class="item"
                [ngClass]="{'has-info':question.info}"
                [innerHTML]="question.title"
                (click)="presentModal(formSelect)"
            ></div>
        </div> -->

        <profile-question-item-form
            #formSelect
            [selectedItems]="question.selected"
            [items]="question.items"
            [label]="question.label"
            [action_label]="question.action_label"
            [limit]="question.limit"
            [type]="question.type"
        ></profile-question-item-form>
    </div>
</div>
