<div class="wrapper ion-text-center">
    <user-avatar [user]="auth.user"></user-avatar>
    <p
        class="display_name"
        [hidden]="fullname"
    >
        Hello <span>{{auth.getFirstname()}}</span>
    </p>
    <p
        class="display_name"
        [hidden]="!fullname"
    >
        <span>{{auth.user.display_name}}</span>
    </p>
    <button
        mat-button
        is-small
        (click)="auth.signOut()"
        *ngIf="logout"
    >
        Sign out
    </button>
</div>
