<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="home" (onclick)="triggerPop()"></ion-back-button>
        </ion-buttons>

        <ion-title>
            <img class="header-logo" src="/assets/images/logo-square.svg" />
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" [fullscreen]="true">
    <!-- FULL HEIGHT -->
    <div has-full-min-height-pct fxLayout="column" fxLayoutAlign="center center">
        <div class="ion-padding" fxLayout="column" fxLayoutGap="24px">
            <!-- TITLE -->

            <div fxLayout="column" fxLayoutGap="16px">
                <div fxLayout="column" fxLayoutGap="16px" *ngIf="hasLoaded$">
                    <button
                        type="button"
                        mat-flat-button
                        mat-action-button
                        color="gold"
                        *ngFor="let product of products$ | async"
                        (click)="subscribe(product)"
                    >
                        {{product.price}} / {{product.productId === 'monthly' ? 'month' : 'year'}}
                    </button>
                </div>
            </div>

            <div fxLayout="column"> 
                <button type="button" mat-button mat-button-extra-small is-capitalize (click)="showPromotionField()">
                    Have a promotional code?
                </button>
                <div id="promoField" hidden>
                    <ion-input placeholder="Enter your code"> </ion-input>
                </div>
            </div>

            <div class="page-title-extra-small subscription-info ion-text-center">
                <small
                    >Subscription will be charged to your credit card through your iTunes account. Your subscription will automatically
                    renew unless canceled at least 24 hours before the end of the current period. You will not be able to cancel the
                    subscription once activated. Manage your subscriptions in Account Settings after purchase.</small
                >
            </div>

            <div fxLayout fxLayoutGap="16px">
                <a
                    fxFlex
                    mat-button
                    mat-button-extra-small
                    is-capitalize
                    (click)="openLink('https://www.neuraboot.com/terms-of-service-agreement/')"
                >
                    Terms of Service
                </a>

                <a fxFlex mat-button mat-button-extra-small is-capitalize (click)="openLink('https://www.neuraboot.com/privacy-policy/')">
                    Privacy Policy
                </a>
            </div>

            <div fxLayout fxLayoutGap="16px" fxLayoutAlign="center center">
                <button mat-button mat-button-extra-small is-capitalize (click)="auth.signOut()">
                    Logout
                </button>
            </div>
        </div>
    </div>
</ion-content>
