.chart-bar {
    padding: 35px 24px !important;

    .more-button {
        position: absolute !important;
        top: 13px;
        right: 6px;
    }

    .dashboard-card-content {
        text-align: center;

        .wrapper {
            display: flex;
            justify-content: center;
        }
    }

    .mat-menu-item {
        font-size: 13px;
    }

    .loading {
        margin-bottom: 20px;
    }
}

button.chart-active {
    border-left: 2px solid #333;
}

.tooltip-template {
    padding: 10px;

    strong {
        color: #fff;
    }
}
