<mat-card class="chart-bar dashboard-card mat-elevation-z1">
    <mat-card-header>
        <mat-card-title>
            <h3 class="subtitle is-6 animated fadeInDown" *ngIf="!loading" [innerHTML]="setup[index].title">
            </h3>
            <button *ngIf="setup?.length>1" mat-icon-button class="more-button" [mat-menu-trigger-for]="menu"
                aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item *ngFor="let item of setup; let i = index" [ngClass]="{'chart-active':index===i}"
                    (click)="index=i; ngAfterViewInit()">{{item.placeholder}}</button>
            </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <div class="wrapper">

            <div class="spinner-outer animated fadeInUp" [ngClass]="{'is-hidden':!loading}">
                <mat-progress-spinner strokeWidth="4" diameter="30" class="spinner small" [color]="'accent'" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>

            <ngx-charts-bar-vertical class="animated fadeIn" *ngIf="setup[index].charts[0].series.length&&!loading"
                [view]="view" [legendTitle]="''" [scheme]="colorScheme" [results]="setup[index].charts[0].series"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="didSelect($event)">
                <ng-template #tooltipTemplate let-item="model" *ngIf="setup[index].tooltipTemplate">
                    <div class="tooltip-template" [innerHTML]="setup[index].tooltipTemplate(item)"></div>
                </ng-template>
            </ngx-charts-bar-vertical>

            <small *ngIf="!setup[index].charts[0].series.length&&!loading"><br /><br />No data available yet<br /><br /></small>

        </div>
    </mat-card-content>
</mat-card>
