<div class="child-tabs-wrapper">
    <nav
        mat-tab-nav-bar
        mat-tab-nav-custom
        mat-tab-small
        mat-stretch-tabs
    >
        <a
            mat-tab-link
            *ngFor="let segment of segments"
            (click)="activeSegment = segment.slug"
            [active]="activeSegment == segment.slug"
        >
            {{segment.label}}
        </a>
    </nav>
</div>

<!-- SEGMENTS -->
<div
    [ngSwitch]="activeSegment"
    style="min-height: 220px"
>
    <div
        class="animated fadeIn segment"
        *ngSwitchCase="'week'"
    >
        <chart-bar
            style="height: 220px"
            [setup]="weekSetup"
            [path]="path"
            (setUpdate)="setChartUpdate($event)"
            fxFlex
            fxLayout
        ></chart-bar>
    </div>
    <div
        class="animated fadeIn segment"
        *ngSwitchCase="'month'"
    >
        <chart-bar
            style="height: 220px"
            [setup]="monthSetup"
            [path]="path"
            (setUpdate)="setChartUpdate($event)"
            fxFlex
            fxLayout
        ></chart-bar>
    </div>
    <div
        class="animated fadeIn segment"
        *ngSwitchCase="'year'"
    >
        <chart-bar
            style="height: 220px"
            [setup]="yearSetup"
            [path]="path"
            (setUpdate)="setChartUpdate($event)"
            fxFlex
            fxLayout
        ></chart-bar>
    </div>
</div>
