<div
    fxLayout="column"
    style="height: 180px"
>
    <div
        class="chart-legend ion-margin-bottom"
        fxLayout
        fxLayoutGap="8px"
        fxLayoutAlign="center center"
    >

        <div
            fxLayout
            fxLayoutGap="4px"
            fxLayoutAlign="center center"
        >
            <div
                class="legend-square"
                [style.background-color]="categoryConfig.happy.color"
            ></div>
            <div>Happy</div>
        </div>

        <div
            fxLayout
            fxLayoutGap="4px"
            fxLayoutAlign="center center"
        >
            <div
                class="legend-square"
                [style.background-color]="categoryConfig.anxious.color"
            ></div>
            <div>Anxious</div>
        </div>

        <div
            fxLayout
            fxLayoutGap="4px"
            fxLayoutAlign="center center"
        >
            <div
                class="legend-square"
                [style.background-color]="categoryConfig.depressed.color"
            ></div>
            <div>Sad</div>
        </div>

        <div
            fxLayout
            fxLayoutGap="4px"
            fxLayoutAlign="center center"
        >
            <div
                class="legend-square"
                [style.background-color]="categoryConfig.angry.color"
            ></div>
            <div>Angry</div>
        </div>
    </div>

    <ngx-charts-bar-vertical
        #chart
        [animations]="false"
        [scheme]="colorScheme"
        [results]="data"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [yAxisTickFormatting]="yFormat"
        [xAxisTickFormatting]="xFormat"
        [tooltipDisabled]="true"
        [roundDomains]="true"
        style="height:150px"
        *ngIf="!loading && data.length"
    >
    </ngx-charts-bar-vertical>

    <div
        #chartIcons
        class="chart-icons"
        fxLayout
        fxLayoutGap="2px"
        fxLayoutAlign="center center"
    >

        <i
            class="fa fa-smile"
            fxFlex
            [style.color]="categoryConfig.happy.color"
        ></i>
        <i
            class="fa fa-grimace"
            fxFlex
            [style.color]="categoryConfig.anxious.color"
        ></i>
        <i
            class="fa fa-sad-cry"
            fxFlex
            [style.color]="categoryConfig.depressed.color"
        ></i>
        <i
            class="fa fa-angry"
            fxFlex
            [style.color]="categoryConfig.angry.color"
        ></i>
    </div>
</div>
