.chart-icons {
    position: absolute;
    left: 38px;
    bottom: 16px;
    width: calc(100% - 48px);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    i {
        font-size: 24px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.4);
        text-align: center;
        opacity: .7;
    }
}

.chart-legend {
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0;
    color: rgba(255, 255, 255, 0.87);

    .legend-square {
        width: 8px;
        height: 8px;
        border-radius: 2px;
    }
}

.navigation-buttons {
    margin-top: 44px;
}

[loading] {
    opacity: 0.3;
}
