<div fxLayout="column" fxLauoutGap="24px">

    <div class="columns">
        <div class="column is-half">
            <chart-bar [view]="[330, 220]" [setup]="chartBarTop5Countries"></chart-bar>
        </div>
        <div class="column is-half">
            <chart-bar [view]="[330, 220]" [setup]="chartBarTop5Location" [colorScheme]="chartBarTop5LocationColor"></chart-bar>
        </div>
    </div>

    <br />
    <div class="columns is-multiline">
        <div class="column is-half" *ngFor="let item of chartNumbers">
            <chart-number [icon]="item.extra.icon" [title]="item.extra.title" [size]="item.extra.size" [color]="item.extra.color"
                [setup]="item.setup"></chart-number>
        </div>
    </div>

    <br />
    <chart-line [setup]="chartLines"></chart-line>
</div>
