<div class="user-avatar" [ngClass]="{'has-image': user.photo_url}">
    <img [src]="!loading && user.photo_url || './assets/images/user-blank.svg'" />
    <span class="status mat-elevation-z1" [ngClass]="{'online':online, 'offline':!online}"></span>
</div>
