:host {
    &[in-column] {
        .user-avatar {
            img {
                margin-top: 5px;
            }

            .status {
                right: auto;
                top: auto;
                margin: 36px 0 0 -8px;
            }
        }
    }
}

.user-avatar {
    width: fit-content;
    margin: 0 auto;

    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        flex-shrink: 0;
        max-width: 40px;
    }

    .status {
        width: 6px;
        border-radius: 50%;
        height: 6px;
        z-index: 100;
        position: absolute;
        right: auto;
        margin: 32px 0 0 -9px;
        top: auto;

        &.online {
            background-color: #0ba50b;
        }

        &.offline {
            background-color: #fff;
        }

        // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    }
}
