<div
    class="wrapper"
    fxLayout="column"
    fxLayoutGap="16px"
>
    <!-- SELECTED CARDS -->
    <div
        class="cards"
        *ngIf="selectedItems.length && type==='contact'"
        fxLayout="column"
        fxLayoutGap="16px"
    >
        <mat-card
            mat-card-overlay
            *ngFor="let item of selectedItems"
            class="mat-elevation-z0"
            id="{{item.id}}"
        >
            <div
                fxLayout
                fxLayoutGap="16px"
                fxLayoutAlign="start center"
            >
                <img
                    class="card-icon-input"
                    src="/assets/images/icon-profile.svg"
                >
                <mat-form-field fxFlex>
                    <input
                        class="item-name"
                        matInput
                        type="text"
                        placeholder="Name"
                        [(ngModel)]="item.name"
                    >
                    <button
                        class="clear"
                        mat-button
                        *ngIf="item.name"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="item.name=''"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div
                fxLayout
                fxLayoutGap="16px"
                fxLayoutAlign="start center"
            >
                <img
                    class="card-icon-input"
                    src="/assets/images/icon-phone.svg"
                >
                <mat-form-field fxFlex>
                    <input
                        class="item-tel"
                        matInput
                        type="tel"
                        placeholder="Phone"
                        [(ngModel)]="item.phone"
                    >
                    <button
                        class="clear"
                        mat-button
                        *ngIf="item.phone"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="item.phone=''"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div
                fxLayout
                fxLayoutGap="16px"
                fxLayoutAlign="start center"
            >
                <img
                    class="card-icon-input"
                    src="/assets/images/icon-email.svg"
                >
                <mat-form-field fxFlex>
                    <input
                        class="item-email"
                        matInput
                        type="email"
                        placeholder="Email"
                        [(ngModel)]="item.email"
                    >
                    <button
                        class="clear"
                        mat-button
                        *ngIf="item.email"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="item.email=''"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <button
                (click)="removeItem(item)"
                class="remove-btn"
                type="button"
                name="delete-word"
            ></button>
        </mat-card>
    </div>

    <!-- ADD BUTTON -->
    <button
        mat-stroked-button
        mat-button-small
        type="button"
        name="add-word"
        (click)="type==='tag'?presentModal():addItem()"
        [fxHide]="!(type==='tag' && selectedItems.length < limit || type==='contact' && selectedItems.length < limit)"
    >
        <mat-icon>add</mat-icon> Add {{action_label}}
    </button>

    <!-- SELECTED TAGS -->
    <div
        class="selected-tags page-tags"
        *ngIf="selectedItems.length && type==='tag'"
    >
        <div
            class="page-tag"
            color="overlay"
            *ngFor="let item of selectedItems"
        >
            <span>{{item.title}}</span>
            <button
                (click)="removeItem(item)"
                class="remove-btn"
                type="button"
                name="delete-word"
            ></button>
        </div>
    </div>
</div>
