<div class="breadcrumb-wrapper" fxLayout="column" fxLayoutAlign="center start">
    <h2 class="subtitle is-5 has-icon breadcrumb" *ngIf="menu.breadcrumbs.length">
        <div class="item" *ngFor="let item of menu.breadcrumbs; let i = index">
            <i class="{{item.icon}}" *ngIf="i===0"></i>

            <span *ngIf="!item.route">{{item.placeholder}}</span>
            <a *ngIf="item.route" [routerLink]="item.route">{{item.placeholder}}</a>

            <span *ngIf="menu.breadcrumbs[i+1]" class="spacer">•</span>
        </div>
    </h2>
</div>
