:host {
    display: block;
    margin: 0 0 35px 0px;
    height: 64px;
    padding-left: 19px;
    background: #f1f1f1;
}

.breadcrumb-wrapper {
    height: 100%;
}

h2.breadcrumb {

    display: flex;
    align-items: center;

    .item {
        display: flex;
        align-items: center;
    }

    span,
    a {
        margin: 0 0 0 7px;
        padding: 0;
        color: inherit;
    }

    span.first {
        margin: 0 0 0 0;
    }

    a:hover {
        font-weight: bold;
    }

    i {
        width: 26px !important;
        text-align: center;
        margin-right: 0 !important;
    }
}
