:host {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    place-content: center flex-end;
    align-items: center;
    padding: 0 16px;
    padding-top: 16px;
    pointer-events: auto;
}

.form-modal {
    background-color: rgba(255, 255, 255, .92);
    color: rgba(0, 0, 0, .7);
    padding: 0 16px;
    min-height: 140px;
    height: 1px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: height 0.37s ease-in;
    position: relative;

    &.form-modal-opened {
        // height: calc(100vh - 54px);
        height: calc(100vh - 200px);
    }
}

.form-modal-header {
    font-size: 16px;
    text-align: center;
    height: 60px;
    position: relative;
}

.form-model-header-icon {
    position: absolute;
    top: 0;
    right: 16px;
    height: 100%;

    .mat-icon {
        color: rgba(80, 227, 195, 1);
    }
}

.form-modal-selection-area {
    min-height: 80px;
    margin: 0 -16px;
    padding: 0 16px;
    background-color: rgba(0, 0, 0, .1);
}

.form-modal-content {
    position: relative;
}

mat-selection-list {
    margin-left: -16px;
    margin-right: -16px;
}

.can-submit {
    ion-scroll {
        padding-bottom: calc(3rem + 16px);
    }
}

.is-disabled {
    &.form-modal {
        min-height: 60px;
    }

    .form-modal-header {
        opacity: .5;
    }
}

.confirm-btn {
    margin-bottom: 16px;
    margin-top: 16px;
}
