<div
    class="form-modal has-full-width animated fadeInUp"
    [ngClass]="{'form-modal-opened': opened, 'can-submit': feeling.validForm(), 'is-disabled': !feeling.validForm('feeling')}"
    fxLayout="column"
    *ngIf="feeling.current.category"
>

    <!-- HEADER -->
    <div
        class="form-modal-header"
        fxLayout
        fxLayoutAlign="center center"
        (click)="toggleOpening()"
        (pan)="onPan($event)"
    >
        <div>What's going on?</div>

        <div
            class="form-model-header-icon"
            fxLayout
            fxLayoutAlign="center center"
        >
            <mat-icon [hidden]="opened">add</mat-icon>
            <mat-icon [hidden]="!opened">remove</mat-icon>
        </div>
    </div>

    <!-- SELECTION AREA -->
    <div
        class="form-modal-selection-area animated fadeInUp"
        fxLayout
        fxLayoutAlign="center center"
        (pan)="onPan($event)"
        [fxHide]="!feeling.validForm('feeling')"
    >
        <div class="ion-text-center">Add a few feelings to describe what's have been going on today.</div>
    </div>

    <!-- CONTENT -->
    <div
        class="form-modal-content"
        fxFlex
        [fxHide]="!opened"
        fxLayout="column"
    >
        <ion-content fxFlex>
            <mat-selection-list
                is-card-list
                has-border
                [(ngModel)]="feeling.current.specific"
                (selectionChange)="onSelectionChange($event)"
                color="primary"
            >
                <mat-list-option
                    class="has-text-grey-darker has-text-left"
                    [value]="item"
                    *ngFor="let item of option$ | async"
                >
                    {{item.label}}
                </mat-list-option>
            </mat-selection-list>
        </ion-content>
    </div>

    <!-- BUTTON -->
    <button
        class="confirm-btn"
        mat-flat-button
        mat-action-button
        color="gradient"
        *ngIf="opened && feeling.validForm()"
        [disabled]="!feeling.validForm()"
        (click)="save()"
    >
        Confirm
    </button>
</div>
