<div fxLayout="column" fxLayoutGap="24px">

    <div class="columns is-multiline">
        <div class="column">
            <user-current-feeling [uid]="record.entry.uid"></user-current-feeling>
        </div>
    </div>

    <div class="columns is-multiline">
        <div class="column is-half" *ngFor="let item of chartNumberChallenge">
            <chart-number [icon]="item.extra.icon" [title]="item.extra.title" [size]="item.extra.size" [color]="item.extra.color"
                [setup]="item.setup"></chart-number>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <chart-bar [view]="[330, 220]" [setup]="chartBarTopUserCategories"></chart-bar>
        </div>
    </div>

    <div class="columns is-multiline">
        <div class="column" *ngFor="let item of chartNumberFeeling">
            <chart-number [icon]="item.extra.icon" [title]="item.extra.title" [size]="item.extra.size" [color]="item.extra.color"
                [setup]="item.setup"></chart-number>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <chart-bar [view]="[330, 220]" [setup]="chartBarTopUserFeelings" [colorScheme]="chartBarSecondaryColors"></chart-bar>
        </div>
    </div>

    <chart-line *ngIf="chartLines.length" [setup]="chartLines" [view]="[440, 304]"></chart-line>
</div>
