.users-manage-edit {
    @media screen and (min-width: 769px) {

        .column.is-one-third,
        .column.is-one-third-tablet {
            flex: none;
            width: 38.3333%;
        }
    }

    .user-card {


        p {
            font-size: 12px;
            line-height: 22px;

            strong {
                margin-right: 5px;
            }
        }

        .user-avatar {
            margin-top: -62px;

            &.has-image {
                img {
                    -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                }
            }

            img {
                width: 75px;
                height: 75px;
                max-width: 100px;
            }

            .status {
                margin: 61px 0 0 -13px;
            }
        }
    }

    .mat-card-actions {
        border-top: 1px solid #eee;
        display: flex;
        justify-content: center;
        align-content: center;

        button {
            font-weight: bold;
            margin: 0;
        }
    }

    .form-address-map {
        margin-top: -35px;
    }

    .user-roles {
        display: flex;
        flex-direction: column;
    }
}
