<div class="users-manage-edit">
    <br />
    <form #entryForm="ngForm" (ngSubmit)="submit()">
        <div class="container" [attr.form-loading]="ui.loading ? true : null">
            <div class="columns">
                <div class="column is-one-third">

                    <mat-card class="user-card mat-elevation-z1">
                        <mat-card-content>
                            <user-avatar class="mat-elevation-z1" [url]="data.photo_url" [online]="editing&&data.online_at?moment(data.online_at).unix() >= moment().subtract(1, 'hour').unix():false"></user-avatar>
                            <br />
                            <mat-form-field class="full-width">
                                <input matInput required name="display_name" placeholder="Full Name" [(ngModel)]="data.display_name" />
                            </mat-form-field>
                            <br />
                            <section class="user-roles" *ngIf="auth.hasRole('admin')">
                                <mat-checkbox class="full-width" name="{{role.name}}" value="{{role.name}}" [checked]="data.roles.indexOf(role.name) >= 0"
                                    (change)="applyRole($event, role)" *ngFor="let role of userRoles">
                                    {{role.placeholder}}
                                </mat-checkbox>
                            </section>
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="cancel()" type="button" mat-button [disabled]="!entryForm.valid&&ui.loading">Cancel</button>
                            <button type="submit" mat-button color="primary" [disabled]="!entryForm.valid||ui.loading">{{editing?'Save':'Create'}}</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="column">

                    <!-- ACCOUNT -->
                    <mat-card class="user-account" *ngIf="auth.hasRole('admin')">
                        <mat-card-header>
                            <mat-card-title>
                                <div class="has-icon">
                                    <mat-icon>account_circle</mat-icon>
                                    <h4 class="title is-6">Account</h4>
                                </div>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="columns is-multiline">
                                <mat-form-field class="column is-full">
                                    <input matInput required name="email" type="email" placeholder="Email" [(ngModel)]="data.email"
                                        [disabled]="editing" />
                                </mat-form-field>
                                <mat-form-field class="column is-half">
                                    <input matInput required name="passowrd" type="password" placeholder="Password"
                                        [(ngModel)]="data.password" [disabled]="editing" />
                                </mat-form-field>
                                <mat-form-field class="column is-half">
                                    <input matInput required name="password-repeat" type="password" placeholder="Repeat"
                                        [(ngModel)]="passwordRepeat" [disabled]="editing" />
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <br *ngIf="!editing" />
                    <!-- /ACCOUNT -->

                </div>
            </div>
            <br />

        </div>
    </form>

</div>
