/*--------  Loading test  --------*/
$size : 120px;
$color1 : rgba(52, 49, 87, 1);
$color2 : rgba(160, 81, 94, 1);

// linear-gradient(to bottom, #343157 0%, #a0515e 100%)
@mixin keyframes($name) {
    @-o-keyframes #{$name} {
        @content
    }

    ;

    @-moz-keyframes #{$name} {
        @content
    }

    ;

    @-webkit-keyframes #{$name} {
        @content
    }

    ;

    @keyframes #{$name} {
        @content
    }

    ;
}

@mixin animation($prop...) {
    -o-animation: $prop;
    -moz-animation: $prop;
    -ms-animation: $prop;
    -webkit-animation: $prop;
    animation: $prop;
}

@mixin transform($prop...) {
    -o-transform: $prop;
    -moz-transform: $prop;
    -webkit-transform: $prop;
    -ms-transform: $prop;
    transform: $prop;
}

@mixin transform-origin($prop...) {
    -o-transform-origin: $prop;
    -moz-transform-origin: $prop;
    -webkit-transform-origin: $prop;
    -ms-transform-origin: $prop;
    transform-origin: $prop;
}

[color=default-default],
[color=default-little],
[color=default-pretty],
[color=default-very],
[color=default-extremely] {

    .dot {
        @include animation(in 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-default-default-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-default-default-dark);
    }
}

[color=angry-default] {

    .dot {
        @include animation(inAngryDefault 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-angry-default-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-angry-default-dark);
    }
}

[color=angry-little] {

    .dot {
        @include animation(inAngryLittle 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-angry-little-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-angry-little-dark);
    }
}

[color=angry-pretty] {

    .dot {
        @include animation(inAngryPretty 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-angry-pretty-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-angry-pretty-dark);
    }
}

[color=angry-very] {

    .dot {
        @include animation(inAngryVery 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-angry-very-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-angry-very-dark);
    }
}

[color=angry-extremely] {

    .dot {
        @include animation(inAngryExtremely 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-angry-extremely-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-angry-extremely-dark);
    }
}

/*--------  Depressed colors  --------*/
[color=depressed-default] {

    .dot {
        @include animation(inDepressedDefault 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-depressed-default-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-depressed-default-dark);
    }
}

[color=depressed-little] {

    .dot {
        @include animation(inDepressedLittle 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-depressed-little-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-depressed-little-dark);
    }
}

[color=depressed-pretty] {

    .dot {
        @include animation(inDepressedPretty 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-depressed-pretty-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-depressed-pretty-dark);
    }
}

[color=depressed-very] {

    .dot {
        @include animation(inDepressedVery 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-depressed-very-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-depressed-very-dark);
    }
}

[color=depressed-extremely] {

    .dot {
        @include animation(inDepressedExtremely 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-depressed-extremely-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-depressed-extremely-dark);
    }
}

/*--------  Happy colors  --------*/
[color=happy-default] {

    .dot {
        @include animation(inHappyDefault 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-happy-default-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-happy-default-dark);
    }
}

[color=happy-little] {

    .dot {
        @include animation(inHappyLittle 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-happy-little-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-happy-little-dark);
    }
}

[color=happy-pretty] {

    .dot {
        @include animation(inHappyPretty 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-happy-pretty-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-happy-pretty-dark);
    }
}

[color=happy-very] {

    .dot {
        @include animation(inHappyVery 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-happy-very-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-happy-very-dark);
    }
}

[color=happy-extremely] {

    .dot {
        @include animation(inHappyExtremely 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-happy-extremely-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-happy-extremely-dark);
    }
}

/*--------  Anxious colors  --------*/
[color=anxious-default] {

    .dot {
        @include animation(inAnxiousDefault 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-anxious-default-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-anxious-default-dark);
    }
}

[color=anxious-little] {

    .dot {
        @include animation(inAnxiousLittle 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-anxious-little-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-anxious-little-dark);
    }
}

[color=anxious-pretty] {

    .dot {
        @include animation(inAnxiousPretty 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-anxious-pretty-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-anxious-pretty-dark);
    }
}

[color=anxious-very] {

    .dot {
        @include animation(inAnxiousVery 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-anxious-very-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-anxious-very-dark);
    }
}

[color=anxious-extremely] {

    .dot {
        @include animation(inAnxiousExtremely 4s linear infinite);
    }

    .dot,
    .dot-outside-2 {
        background: var(--ion-color-anxious-extremely-light);
    }

    .dot-outside-1 {
        background: var(--ion-color-anxious-extremely-dark);
    }
}

.load {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .87;

    &:before,
    &:after,
    .dot,
    .dot-outside-1,
    .dot-outside-2,
    .outline {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        border-radius: 50%;
    }

    .dot {
        width: #{$size - $size / 100 * 20};
        height: #{$size - $size / 100 * 20};
        z-index: 2;
    }

    .dot-outside-1 {
        width: 0px;
        height: 0px;
        @include animation(out1 4s linear infinite);
    }

    .dot-outside-2 {
        width: 0px;
        height: 0px;
        @include animation(out2 4s linear infinite);
    }

    .outline {
        width: $size;
        height: $size;
        z-index: 2;

        span.mask {
            width: $size / 2 + 8;
            height: $size / 2 + 8;
            @include transform-origin(100% 100%);
            @include transform(rotate(45deg) skewX(80deg));
            overflow: hidden;
            position: absolute;
            bottom: 50%;
            right: 50%;
            @include animation(outline 4s linear infinite);

            span.spinner {
                display: block;
                border: solid 5px #fff;
                width: 200%;
                height: 200%;
                border-radius: 50%;
                @include transform(skewX(-80deg));
                @include animation(outlineBefore 4s linear infinite);
            }
        }
    }
}

@include keyframes(outline) {
    0% {
        @include transform(rotate(0deg) skewX(80deg));
    }

    25% {
        @include transform(rotate(500deg) skewX(15deg));
    }

    50% {
        @include transform(rotate(1000deg) skewX(40deg));
    }

    75% {
        @include transform(rotate(1500deg) skewX(60deg));
    }

    100% {
        @include transform(rotate(2160deg) skewX(80deg));
    }
}

@include keyframes(outlineBefore) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px $color2;
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px $color2;
    }

    49% {
        border: solid 5px $color2;
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px $color1;
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px $color1;
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px $color1;
    }
}

@include keyframes(in) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: $color2;
    }

    40% {
        width: 0px;
        height: 0px;
        background: $color2;
    }

    41% {
        width: 0px;
        height: 0px;
        background: $color1;
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: $color1;
    }

    90% {
        width: 0px;
        height: 0px;
        background: $color1;
    }

    91% {
        width: 0px;
        height: 0px;
        background: $color2;
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: $color2;
    }
}

@include keyframes(out1) {
    0% {
        width: 0px;
        height: 0px;
    }

    30% {
        width: 120vh;
        height: 120vh;
    }

    100% {
        width: 120vh;
        height: 120vh;
    }
}

@include keyframes(out2) {
    0% {
        width: 0px;
        height: 0px;
    }

    30% {
        width: 0px;
        height: 0px;
    }

    60% {
        width: 120vh;
        height: 120vh;
    }

    100% {
        width: 120vh;
        height: 120vh;
    }
}

/*--------  Animation for angry  --------*/
@include keyframes(outlineBeforeAngryDefault) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-angry-default-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-angry-default-light);
    }

    49% {
        border: solid 5px var(--ion-color-angry-default-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-angry-default-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-angry-default-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-angry-default-dark);
    }
}

@include keyframes(inAngryDefault) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-default-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-default-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-default-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-default-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-default-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-default-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-default-light);
    }
}

@include keyframes(outlineBeforeAngryLittle) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-angry-little-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-angry-little-light);
    }

    49% {
        border: solid 5px var(--ion-color-angry-little-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-angry-little-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-angry-little-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-angry-little-dark);
    }
}

@include keyframes(inAngryLittle) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-little-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-little-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-little-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-little-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-little-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-little-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-little-light);
    }
}

@include keyframes(outlineBeforeAngryPretty) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-angry-pretty-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-angry-pretty-light);
    }

    49% {
        border: solid 5px var(--ion-color-angry-pretty-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-angry-pretty-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-angry-pretty-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-angry-pretty-dark);
    }
}

@include keyframes(inAngryPretty) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-pretty-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-pretty-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-pretty-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-pretty-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-pretty-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-pretty-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-pretty-light);
    }
}

@include keyframes(outlineBeforeAngryVery) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-angry-very-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-angry-very-light);
    }

    49% {
        border: solid 5px var(--ion-color-angry-very-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-angry-very-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-angry-very-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-angry-very-dark);
    }
}

@include keyframes(inAngryVery) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-very-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-very-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-very-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-very-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-very-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-very-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-very-light);
    }
}

@include keyframes(outlineBeforeAngryExtremely) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-angry-extremely-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-angry-extremely-light);
    }

    49% {
        border: solid 5px var(--ion-color-angry-extremely-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-angry-extremely-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-angry-extremely-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-angry-extremely-dark);
    }
}

@include keyframes(inAngryExtremely) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-extremely-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-extremely-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-extremely-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-extremely-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-extremely-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-angry-extremely-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-angry-extremely-light);
    }
}

/*--------  Animation for depressed  --------*/
@include keyframes(outlineBeforeDepressedDefault) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-depressed-default-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-depressed-default-light);
    }

    49% {
        border: solid 5px var(--ion-color-depressed-default-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-depressed-default-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-depressed-default-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-depressed-default-dark);
    }
}

@include keyframes(inDepressedDefault) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-default-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-default-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-default-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-default-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-default-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-default-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-default-light);
    }
}

@include keyframes(outlineBeforeDepressedLittle) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-depressed-little-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-depressed-little-light);
    }

    49% {
        border: solid 5px var(--ion-color-depressed-little-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-depressed-little-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-depressed-little-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-depressed-little-dark);
    }
}

@include keyframes(inDepressedLittle) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-little-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-little-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-little-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-little-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-little-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-little-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-little-light);
    }
}

@include keyframes(outlineBeforeDepressedPretty) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-depressed-pretty-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-depressed-pretty-light);
    }

    49% {
        border: solid 5px var(--ion-color-depressed-pretty-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-depressed-pretty-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-depressed-pretty-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-depressed-pretty-dark);
    }
}

@include keyframes(inDepressedPretty) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-pretty-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-pretty-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-pretty-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-pretty-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-pretty-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-pretty-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-pretty-light);
    }
}

@include keyframes(outlineBeforeDepressedVery) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-depressed-very-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-depressed-very-light);
    }

    49% {
        border: solid 5px var(--ion-color-depressed-very-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-depressed-very-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-depressed-very-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-depressed-very-dark);
    }
}

@include keyframes(inDepressedVery) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-very-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-very-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-very-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-very-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-very-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-very-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-very-light);
    }
}

@include keyframes(outlineBeforeDepressedExtremely) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-depressed-extremely-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-depressed-extremely-light);
    }

    49% {
        border: solid 5px var(--ion-color-depressed-extremely-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-depressed-extremely-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-depressed-extremely-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-depressed-extremely-dark);
    }
}

@include keyframes(inDepressedExtremely) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-extremely-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-extremely-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-extremely-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-extremely-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-extremely-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-depressed-extremely-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-depressed-extremely-light);
    }
}

/*--------  Animation for anxious  --------*/
@include keyframes(outlineBeforeAnxiousDefault) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-anxious-default-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-anxious-default-light);
    }

    49% {
        border: solid 5px var(--ion-color-anxious-default-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-anxious-default-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-anxious-default-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-anxious-default-dark);
    }
}

@include keyframes(inAnxiousDefault) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-default-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-default-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-default-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-default-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-default-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-default-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-default-light);
    }
}

@include keyframes(outlineBeforeAnxiousLittle) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-anxious-little-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-anxious-little-light);
    }

    49% {
        border: solid 5px var(--ion-color-anxious-little-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-anxious-little-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-anxious-little-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-anxious-little-dark);
    }
}

@include keyframes(inAnxiousLittle) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-little-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-little-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-little-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-little-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-little-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-little-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-little-light);
    }
}

@include keyframes(outlineBeforeAnxiousPretty) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-anxious-pretty-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-anxious-pretty-light);
    }

    49% {
        border: solid 5px var(--ion-color-anxious-pretty-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-anxious-pretty-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-anxious-pretty-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-anxious-pretty-dark);
    }
}

@include keyframes(inAnxiousPretty) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-pretty-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-pretty-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-pretty-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-pretty-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-pretty-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-pretty-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-pretty-light);
    }
}

@include keyframes(outlineBeforeAnxiousVery) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-anxious-very-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-anxious-very-light);
    }

    49% {
        border: solid 5px var(--ion-color-anxious-very-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-anxious-very-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-anxious-very-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-anxious-very-dark);
    }
}

@include keyframes(inAnxiousVery) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-very-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-very-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-very-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-very-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-very-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-very-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-very-light);
    }
}

@include keyframes(outlineBeforeAnxiousExtremely) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-anxious-extremely-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-anxious-extremely-light);
    }

    49% {
        border: solid 5px var(--ion-color-anxious-extremely-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-anxious-extremely-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-anxious-extremely-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-anxious-extremely-dark);
    }
}

@include keyframes(inAnxiousExtremely) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-extremely-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-extremely-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-extremely-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-extremely-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-extremely-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-anxious-extremely-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-anxious-extremely-light);
    }
}

/*--------  Animation for happy  --------*/
@include keyframes(outlineBeforeHappyDefault) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-happy-default-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-happy-default-light);
    }

    49% {
        border: solid 5px var(--ion-color-happy-default-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-happy-default-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-happy-default-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-happy-default-dark);
    }
}

@include keyframes(inHappyDefault) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-default-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-default-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-default-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-default-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-default-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-default-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-default-light);
    }
}

@include keyframes(outlineBeforeHappyLittle) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-happy-little-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-happy-little-light);
    }

    49% {
        border: solid 5px var(--ion-color-happy-little-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-happy-little-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-happy-little-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-happy-little-dark);
    }
}

@include keyframes(inHappyLittle) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-little-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-little-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-little-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-little-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-little-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-little-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-little-light);
    }
}

@include keyframes(outlineBeforeHappyPretty) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-happy-pretty-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-happy-pretty-light);
    }

    49% {
        border: solid 5px var(--ion-color-happy-pretty-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-happy-pretty-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-happy-pretty-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-happy-pretty-dark);
    }
}

@include keyframes(inHappyPretty) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-pretty-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-pretty-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-pretty-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-pretty-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-pretty-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-pretty-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-pretty-light);
    }
}

@include keyframes(outlineBeforeHappyVery) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-happy-very-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-happy-very-light);
    }

    49% {
        border: solid 5px var(--ion-color-happy-very-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-happy-very-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-happy-very-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-happy-very-dark);
    }
}

@include keyframes(inHappyVery) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-very-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-very-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-very-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-very-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-very-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-very-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-very-light);
    }
}

@include keyframes(outlineBeforeHappyExtremely) {
    0% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-happy-extremely-light);
    }

    25% {
        @include transform(skewX(-15deg));
        border: solid 5px var(--ion-color-happy-extremely-light);
    }

    49% {
        border: solid 5px var(--ion-color-happy-extremely-light);
    }

    50% {
        @include transform(skewX(-40deg));
        border: solid 5px var(--ion-color-happy-extremely-dark);
    }

    75% {
        @include transform(skewX(-60deg));
        border: solid 5px var(--ion-color-happy-extremely-dark);
    }

    100% {
        @include transform(skewX(-80deg));
        border: solid 5px var(--ion-color-happy-extremely-dark);
    }
}

@include keyframes(inHappyExtremely) {
    0% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-extremely-light);
    }

    40% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-extremely-light);
    }

    41% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-extremely-dark);
    }

    50% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-extremely-dark);
    }

    90% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-extremely-dark);
    }

    91% {
        width: 0px;
        height: 0px;
        background: var(--ion-color-happy-extremely-light);
    }

    100% {
        width: #{$size + $size / 100 * 20};
        height: #{$size + $size / 100 * 20};
        background: var(--ion-color-happy-extremely-light);
    }
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
