<div class="wrapper">
    <div
        class="c-progress-tooltip"
        [ngStyle]="{'left': 'calc('+progress+'%)'}"
        [ngClass]="{'greater':progress>=10}"
    >
        <span>{{progress}}%</span>
    </div>
    <progress
        class="c-progress-bar is-small"
        [value]="progress"
        max="100"
    >
        {{progress}}%
    </progress>
</div>
