:host {
    display: block;
}

.wrapper {
    width: 100%;
    display: inline-block;
    text-align: left;
    position: relative;

    .c-progress-tooltip {
        position: relative;
        display: inline-block;
        font-size: 0.8rem;
        top: 7px;
        padding: 0.1rem 0.3rem;
        border-radius: 3px;
        background-color: #51e4c2;
        font-weight: bold;
        letter-spacing: 0;
        margin-left: -10px;

        &.greater {
            margin-left: -18px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top-color: #51e4c2;
            border-bottom: 0;
            margin-left: -5px;
            margin-bottom: -5px;
        }
    }

    progress {
        height: 0.13rem;
        background-color: #51e4c2;

        &::-webkit-progress-bar {
            background-color: #9adbe0;
        }

        &::-webkit-progress-value {
            background-color: #51e4c2;
        }

        &::-moz-progress-bar {
            background-color: #51e4c2;
        }

        &::-ms-fill {
            background-color: #51e4c2;
            border: none;
        }
    }
}
