<mat-list *ngIf="entries.length">
    <mat-list-item *ngFor="let entry of entries">
        <h3
            matLine
            class="list-title"
        >
            <b>{{categoryConfig[entry.category].title}}</b>
            <small
                class="list-time"
                slot="right"
            >
                at {{entry.created_at | amDateFormat:"HH:mm:ss"}}
            </small>
        </h3>
        <p
            matLine
            class="list-subtitle"
        >
            described as <b>{{entry.specific[0].label}}</b>
        </p>
    </mat-list-item>
</mat-list>
