.mat-list {
    padding-top: 0;
}

.mat-list-item {
    [slot="right"] {
        float: right;
    }

    .list-title {
        color: rgba(255, 255, 255, 0.87);
    }

    .list-subtitle,
    .list-time {
        color: rgba(255, 255, 255, 0.6);
    }

    .list-time {
        font-size: 65%;
        padding-top: 3px;
    }
}
