:host {
    height: 100%;
    display: block;
}

.menu-footer {
    // position: fixed;
    font-size: 11px;
    margin: 0 auto 15px;
    font-weight: bold;
    bottom: 0;
    text-align: center;
    display: block;

    //  text-shadow: 0 1px 2px black;
    width: 100%;
}

.menu-container {
    min-width: 220px;
    margin: 0;
    height: 90%;

    a {
        color: rgba(0, 0, 0, .87);
    }

    button {
        width: 100%;
        text-align: left;
    }

    .inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;

        .menu {
            width: 100%;
        }
    }

    ul {
        margin-left: 10px;

        &.options {
            a {
                color: #444;

                &:hover {
                    font-weight: bold;
                }
            }
        }

        &.options {
            li {
                margin-bottom: 20px;
            }

            li:last-child {
                margin-bottom: 0;
            }
        }
    }

    .logo-wrapper {
        min-height: 140px;
    }

    .logo {
        background: url("/assets/images/bg-oval-turquise.svg") no-repeat 0% 72%/20px, url("/assets/images/bg-oval-orange.svg") no-repeat 0% 42%/10px, url("/assets/images/bg-oval-grey.svg") no-repeat 5% 2%/25px, url("/assets/images/bg-oval-green.svg") no-repeat 98% 0%/10px, url("/assets/images/bg-oval-blue.svg") no-repeat 100% 89%/43px;
        max-width: 90px;
        margin: 37px auto 16px;
        padding-left: 2px;
        display: block;
    }

    .mat-expansion-panel {
        background: transparent;

        &:not([class*=mat-elevation-z]) {
            box-shadow: none;
        }
    }

    .mat-expansion-panel-header {
        //   margin-bottom: -15px;
        border-bottom: 0px solid #eee;

        &[aria-expanded=false] {
            .mat-expansion-indicator {
                margin-top: -5px;
            }
        }
    }

    .active {

        .mat-expansion-panel-header-title,
        .mat-expansion-panel-header {
            color: #000;
        }
    }

    .mat-expansion-panel-body {
        padding: 1px 24px 16px;
    }
}
