<div class="menu-container">

    <div class="inner">
        <div class="logo-wrapper">
            <img class="logo animated bounceIn" src="assets/images/logo-icon.svg" />
        </div>

        <div class="menu">
            <div class="item" *ngFor="let item of menu">
                <div [ngClass]="{'active':item.name===currentMenu?.name}" class="mat-expansion-panel" *ngIf="!item.options">
                    <div class="mat-expansion-panel-header mat-content" style="height: 48px;" [routerLink]="item.route">
                        <div class="has-icon">
                            <i class="{{item.icon}}"></i>
                            <h4> {{item.placeholder}}</h4>
                        </div>
                    </div>
                </div>

                <mat-accordion [ngClass]="{'active':item.name===currentMenu?.name}" *ngIf="item.options">
                    <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="has-icon">
                                    <i class="{{item.icon}}"></i>
                                    <h4> {{item.placeholder}}</h4>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <!-- MENU OPTIONS -->
                        <ul class="options">
                            <li *ngFor="let option of item.options">
                                <a class="has-icon" (click)="navigateTo(option)">
                                    <i class="{{option.icon}}" *ngIf="option.icon"></i>
                                    <span class="">{{option.placeholder}}</span>
                                </a>
                            </li>
                        </ul>
                        <!-- /MENU OPTIONS -->
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

    </div>

</div>
<small class="menu-footer">v{{version | version}} <span *ngIf="testing">(test)</span><span *ngIf="staging">(dev)</span></small>
