.slide-wrapper {
    width: 100%;
    height: 100%;
    display: block;
}

ion-slides {
    width: 100%;
    height: 100%;
    display: block;
    color: rgba(255, 255, 255, .87);
}

ion-slide {
    width: 100%;
    height: 100%;
}

.card {
    background-color: rgba(255, 255, 255, .87);
    border-radius: 7px;
    padding: 16px;
    margin: 0 1.9em;
    max-width: 100%;

    iframe {
        width: 100% !important;
        display: block;
    }

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
}

.page-title-small {
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 1.9em;
    margin-right: 1.9em;
}

p {
    margin-left: 1.9em;
    margin-right: 1.9em;
    font-size: 12px;
}

.actions {
    margin: 30px 1.9em;
}
