<ion-content
    [scrollY]="false"
    [fullscreen]="true"
>

    <!-- SLIDES -->
    <div class="slide-wrapper animated fadeInRight">
        <ion-slides
            [options]="options"
            (ionSlidesDidLoad)="onLoadSlider($event)"
        >
            <ion-slide>
                <div>
                    <div class="card">
                        <iframe
                            width="100%"
                            height="280"
                            src="https://www.youtube.com/embed/3K-vTqJf0qg?autoplay=1&mute=1&enablejsapi=1&loop=1"
                            frameborder="0"
                            allowfullscreen
                            allow="accelerometer; autoplay; mute; encrypted-media; gyroscope; picture-in-picture"
                            autoplay="1"
                            mute="1"
                        ></iframe>
                    </div>

                    <h2 class="page-title-small has-text-centered">Neuraboot</h2>
                    <p>
                        Gamified emotional support and self-care
                    </p>

                    <div
                        class="actions"
                        fxLayout
                        fxLayoutGap="16px"
                        fxLayoutAlign="center center"
                    >
                        <button
                            mat-flat-button
                            mat-action-button
                            color="light"
                            type="button"
                            (click)="completeVideo()"
                        >
                            Continue
                        </button>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
