.no-data {
    color: rgba(255, 255, 255, .5);

    .mat-icon {
        width: 20px;
        height: 20px;
        line-height: 23px;
        font-size: 20px;
        color: rgba(255, 255, 255, .5);
    }
}

.action-step-list {
    margin-top: 24px;
}

.mood-daily-chart {
    height: 235px;
}

mood-daily-chart {
    display: block;
    padding-bottom: 61px;
    position: relative;
    margin: 0 -14px;
}

action-step-history-list {
    display: block;
}

mood-history-daily-list {
    margin: 0 -16px;
    margin-top: -16px;
    display: block;
}

.feeling-history {
    .content-title {
        margin-bottom: -14px;
    }
}
