<modal-overlay
    mode="sky"
    [attr.is-transparent]="true"
>
    <div
        class="mo-content-fix"
        fxLayout="column"
    >
        <div
            class="mo-header"
            fxLayout
            fxLayoutGap="16px"
            fxLayoutAlign="start center"
        >
            <div
                class="mo-header-icon-circle"
                fxLayout="column"
                fxLayoutAlign="center center"
            >
                <mat-icon
                    fontSet="fas"
                    fontIcon="fa-calendar"
                ></mat-icon>
            </div>

            <div
                fxFlex
                class="mo-header-title"
            >
                {{ date | amDateFormat: 'DD/MMM' }}
            </div>

            <button
                class="mo-header-close-btn"
                mat-icon-button
                (click)="close()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="mood-daily-chart">
            <mood-daily-chart [date]="date"></mood-daily-chart>
        </div>

        <div
            class="mo-scroll-wrapper"
            fxLayout="column"
            fxFlex
        >
            <ion-content
                scrollY="true"
                fxFlex
            >

                <!-- MOOD HISTORY -->
                <div class="feeling-history">
                    <div class="mo-body-title-extra-small"><small>FEELING HISTORY</small></div>
                    <mood-history-daily-list [date]="date">
                    </mood-history-daily-list>
                </div>

                <!-- ACTION STEP HISTORY LIST -->
                <div class="action-step-list">
                    <div class="mo-body-title-extra-small"><small>ACTION STEP HISTORY</small></div>
                    <action-step-history-list
                        class="light-background"
                        [filter]="'completed'"
                        [date]="date"
                        [showDate]="false"
                        [showHeader]="false"
                    ></action-step-history-list>
                </div>
            </ion-content>
        </div>
    </div>
</modal-overlay>
