.heart {
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;

    width: 15px;
    height: 15px;
    font-size: 15px;
    margin-right: 8px;

    color: rgba(255, 255, 255, .4);
}

.primary [filled] {
    color: var(--ion-color-custom-primary);
}

.warning [filled] {
    color: var(--ion-color-custom-warning);
}

.success [filled] {
    color: var(--ion-color-custom-success);
}

.purple [filled] {
    color: var(--ion-color-custom-purple);
}

.danger [filled] {
    color: var(--ion-color-custom-danger);
}
