<div class="table-finder">
    <div *ngIf="filters.length">
        <mat-card class="card-finder mat-elevation-z1">
            <div class="columns is-gapless is-multiline">
                <div class="column is-half">
                    <mat-card-content>
                        <table-search (onSearch)="didSearch($event)" (onClear)="didSearch($event)" [search]="search"></table-search>
                    </mat-card-content>
                </div>
                <div class="column filters">
                    <mat-card-content class="">
                        <table-filter (onFilter)="didFilter($event)" [filters]="filters" [current]="currentFilter"></table-filter>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </div>
    <table-entries #tableEntries [setup]="setup" [columns]="columns" [pageSize]="pageSize" [shouldScroll]="shouldScroll"
        [attr.has-filters]="filters.length ? true : null" (onRowClick)="didRowClick($event)" (onLoad)="didLoad($event)"></table-entries>
</div>
