.table-finder {
    .card-finder {
        height: 80px;
        padding-top: 23px !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        .columns {
            margin-top: -10px !important;

            .column {
                &.filters {
                    margin-top: -7px;
                    justify-content: flex-end;
                    display: flex;
                }
            }
        }
    }
}
