:host {
    &.light-background {
        .no-data {
            margin: 16px 0;
            color: rgba(0, 0, 0, .5);

            .mat-icon {
                color: rgba(0, 0, 0, .5);
            }
        }
    }
}

.list-header {
    color: rgba(255, 255, 255, .4);
    font-size: 10px;
}

.list-item-line {
    font-size: 12px;

    .list-item-category {
        font-weight: 700;
    }
}

.list-item-score {
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

.list-item-link {
    margin-top: 4px;
    color: var(--ion-color-tertiary);
    font-weight: 700;
}

.list-item-avatar {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
}

.no-data {
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, .4);
    text-align: center;

    .mat-icon {
        color: rgba(255, 255, 255, .4);
    }
}
