<div
    class="no-data"
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="noData"
>
    <div>
        <mat-icon>info</mat-icon>
        <div>no data</div>
    </div>
</div>

<div
    class="list-wrapper"
    fxLayout="column"
    fxLayoutGap="16px"
    *ngIf="!noData"
>

    <div
        class="list-header"
        fxLayout
        fxLayoutGap="16px"
        fxLayoutAlign="center center"
        [fxHide]="!showHeader"
    >
        <div fxFlex>
            Name
        </div>
        <div
            class="ion-text-center"
            fxFlex="0 0 35px"
        >
            Date
        </div>
    </div>
    <div
        *ngFor="let entry of entries; index as i"
        fxLayout
        fxLayoutGap="16px"
        fxLayoutAlign="center start"
    >

        <div
            class="list-item-avatar"
            fxFlex="0 0 35px"
            [ngStyle]="{'background-image': actionStepService.getBackgroundImage(entry.challenge.category)}"
        ></div>

        <div
            class="list-item-line"
            fxFlex
        >
            <span class="list-item-category">{{ui.startCaseString(entry.challenge.category)}}</span>
            <span class="list-item-text"> - {{entry.challenge.text}}</span>
            <div
                class="list-item-link"
                (click)="ui.browser(entry.challenge?.link)"
                [fxHide]="!entry.challenge?.link"
            >{{entry.challenge?.label}}</div>
        </div>

        <div
            class="list-item-score"
            fxFlex="0 0 35px"
            *ngIf="showDate"
        >
            {{entry.created_at | amDateFormat:'DD'}}<br>
            {{entry.created_at | amDateFormat:'MMM'}}
        </div>
    </div>
</div>
