<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                color="light"
                defaultHref="account-login"
            ></ion-back-button>
        </ion-buttons>

        <ion-title>
            <img
                class="content-header-logo"
                src="/assets/images/logo-square.svg"
            >
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
    [scrollY]="false"
    [fullscreen]="true"
>
    <!-- FULL HEIGHT -->
    <div
        has-full-min-height-pct
        fxLayout="column"
    >
        <!-- SCROLL CONTENT -->
        <ion-content
            class="ion-padding-top ion-padding-start ion-padding-end"
            fxFlex
        >
            <div
                has-full-min-height-pct
                fxLayout="column"
                fxLayoutGap="32px"
                fxLayoutAlign="center center"
            >

                <form
                    #entryForm="ngForm"
                    class="register has-letter-spacing"
                    (ngSubmit)="submit()"
                    class="animated flipInY"
                    fxLayout="column"
                >
                    <mat-form-field appearance="outline">
                        <mat-label>Your email</mat-label>
                        <input
                            type="email"
                            #emailField
                            name="email"
                            matInput
                            matInputOutlineFix
                            placeholder=""
                            [(ngModel)]="entry.email"
                            required
                        >
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <div class="actions ion-text-center">
                        <button
                            type="submit"
                            mat-stroked-button
                            color="accent"
                            [disabled]="loading || entryForm.invalid"
                        >
                            Reset Password
                        </button>
                    </div>
                </form>

            </div>
        </ion-content>

        <!-- FOOTER -->
        <div
            class="ion-padding-bottom ion-padding-start ion-padding-end"
            fxLayout
            fxLayoutGap="16px"
            fxLayoutAlign="space-between center"
        >
            <button
                type="button"
                mat-button
                mat-button-extra-small
                is-capitalize
                [routerLink]="['/account-login-email']"
            >
                Go to Login
            </button>

            <button
                type="button"
                mat-button
                mat-button-extra-small
                is-capitalize
                [routerLink]="['/account-login-register']"
            >
                Create account
            </button>
        </div>
    </div>
</ion-content>
