<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                color="light"
                defaultHref="account"
            ></ion-back-button>
        </ion-buttons>

        <ion-title>
            <img
                class="header-logo"
                src="/assets/images/logo-square.svg"
            >
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
    [scrollY]="false"
    [fullscreen]="true"
>
    <!-- FULL HEIGHT -->
    <div
        has-full-min-height-pct
        fxLayout="column"
    >
        <!-- SCROLL CONTENT -->
        <ion-content
            class="ion-padding-top ion-padding-start ion-padding-end"
            fxFlex
        >
            <div
                has-full-min-height-pct
                fxLayout="column"
                fxLayoutGap="32px"
                fxLayoutAlign="center center"
            >
                <div class="page-title-small">Change Password</div>

                <account-password-form></account-password-form>
            </div>
        </ion-content>

        <!-- FOOTER -->
        <div
            class="ion-padding-bottom ion-padding-start ion-padding-end"
            fxLayout
            fxLayoutGap="16px"
            fxLayoutAlign="space-between center"
        >
            <button
                type="button"
                mat-button
                mat-button-small
                mat-button-has-icon-image
                is-capitalize
                (click)="ui.browser('https://www.neuraboot.com/')"
            >
                <img
                    left
                    src="/assets/images/icon-nav-about.svg"
                >
                About
            </button>

            <button
                type="button"
                mat-button
                mat-button-small
                mat-button-has-icon-image
                is-capitalize
                (click)="navigation.openMenu()"
            >
                Settings
                <img
                    right
                    src="/assets/images/icon-nav-settings.svg"
                >
            </button>
        </div>
    </div>
</ion-content>
