:host {
    background-color: rgba(0, 0, 0, .87);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: block;
    z-index: 0;
}

@keyframes move-around {
    0% {
        margin: 0;
    }

    25% {
        margin: 20px 0px 0px 20px;
    }

    50% {
        margin: 20px 0px 0px 0px;
    }

    100% {
        margin: 0;
    }
}

@-webkit-keyframes move-around {
    0% {
        margin: 0;
    }

    25% {
        margin: 20px 0px 0px 20px;
    }

    50% {
        margin: 20px 0px 0px 0px;
    }

    100% {
        margin: 0;
    }
}

@-moz-keyframes move-around {
    0% {
        margin: 0;
    }

    25% {
        margin: 20px 0px 0px 20px;
    }

    50% {
        margin: 20px 0px 0px 0px;
    }

    100% {
        margin: 0;
    }
}

@-ms-keyframes move-around {
    0% {
        margin: 0;
    }

    25% {
        margin: 20px 0px 0px 20px;
    }

    50% {
        margin: 20px 0px 0px 0px;
    }

    100% {
        margin: 0;
    }
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -7000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -7000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -7000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -7000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@keyframes blink-stars {
    50% {
        opacity: .35;
    }
}

@-webkit-keyframes blink-stars {
    50% {
        opacity: .35;
    }
}

@-moz-keyframes blink-stars {
    50% {
        opacity: .35;
    }
}

@-ms-keyframes blink-stars {
    50% {
        opacity: .35;
    }
}

.stars,
.twinkling,
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: url('/assets/images/bg-modal-stars.png') repeat top center;
    z-index: 0;

    -moz-animation: blink-stars .9s linear infinite;
    -ms-animation: blink-stars .9s linear infinite;
    -o-animation: blink-stars .9s linear infinite;
    -webkit-animation: blink-stars .9s linear infinite;
    animation: blink-stars .9s linear infinite;
}

.twinkling {
    background: transparent url('/assets/images/bg-modal-twinkling.png') repeat top center;
    z-index: 1;
    background-size: cover;
    opacity: .4;

    -moz-animation: move-twink-back 300s linear infinite;
    -ms-animation: move-twink-back 300s linear infinite;
    -o-animation: move-twink-back 300s linear infinite;
    -webkit-animation: move-twink-back 300s linear infinite;
    animation: move-twink-back 300s linear infinite;
}

.clouds {
    background: transparent url('/assets/images/bg-modal-clouds3.png') repeat top center;
    z-index: 3;
    opacity: .5;
    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}
