<form class="table-search" (ngSubmit)="submit()">
    <mat-form-field class="full-width">
        <i class="material-icons">search</i>
        <input name="search" [placeholder]="'Search...'" matInput [(ngModel)]="search" />
        <a class="clear animated fadeInUp" [ngClass]="{'is-hidden':!search}" (click)="clear()">
            <i class="far fa-window-close"></i>
        </a>
    </mat-form-field>
    <input type="submit" class="is-hidden" />
</form>
