.table-search {
    width: 100%;

    i {
        position: absolute;
        margin: -2px 0 0 2px;
        font-size: 19px !important;
        color: #a29e9e;
    }

    .mat-form-field-label-wrapper {
        margin-left: 28px;
    }

    .mat-input-element {
        padding-left: 24px;
        color: #333333;
    }

    .mat-form-field-underline {
        background-color: transparent;
    }

    .mat-form-field-should-float {
        .mat-form-field-label-wrapper {
            display: none;
        }
    }

    a.clear {
        margin: -14px 21px 0 0;
        float: right;
    }
}
