.table-filter {
    margin: 7px 10px 0 0;
    border-radius: 5px;
    height: 3rem;
    font-size: 13px;
    color: #868686;
    background-color: #fff;
    // max-width: 120px;
    // box-shadow: #bbb 1px 1px 2px;
    display: flex;
    align-items: center;

    .filter-block {
        margin-left: 20px;
    }

    .mat-icon {
        font-size: 16px;
        line-height: 22px;
        margin-right: 0px;
        margin-top: 2px;
    }

    .mat-button-wrapper {
        margin: -8px 0 0 -6px;
        display: block;
    }

    .mat-icon-button {
        width: 100%;
        border-radius: 0 !important;

        .mat-button-ripple-round {
            border-radius: 0 !important;
        }
    }

    .placeholder {
        //  width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        font-weight: normal;
    }
}

.table-filter-select {
    .mat-menu-item {
        font-size: 13px !important;
    }

    .mat-icon {
        font-size: 20px;
        margin-right: 4px !important;
    }
}
