<div class="table-filter">
    <div class="filter-block" [matMenuTriggerFor]="options" *ngFor="let filter of filters; let i = index">
        <button mat-icon-button>
            <mat-icon>{{current[i]?.icon || 'keyboard_arrow_down'}}</mat-icon>
            <span class="placeholder">{{current[i]?.placeholder||filter.placeholder}}</span>
        </button>
        <mat-menu #options="matMenu" class="table-filter-select" (closed)="didFilter(filter)" yPosition="above"
            xPosition="after">
            <button mat-menu-item (click)="setFilter(item, filter)" *ngFor="let item of filter.options">
                <mat-icon>{{item.icon || 'keyboard_arrow_down'}}</mat-icon>
                <span>{{item.placeholder}}</span>
            </button>
        </mat-menu>
    </div>
</div>
