<form
    class="register has-letter-spacing animated flipInY"
    [formGroup]="form"
    (ngSubmit)="submit()"
    fxLayout="column"
>

    <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="16px"
        fxLayoutGap.xs="0"
    >
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input
                    type="text"
                    name="display_name"
                    matInput
                    matInputOutlineFix
                    placeholder="Name"
                    formControlName="display_name"
                >
                <mat-icon matSuffix>tag_faces</mat-icon>
                <mat-error *ngIf="form.get('display_name').errors?.required">
                    required
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    type="email"
                    name="email"
                    matInput
                    matInputOutlineFix
                    placeholder="E-mail"
                    formControlName="email"
                >
                <mat-icon matSuffix>email</mat-icon>

                <mat-error *ngIf="form.get('email').errors?.email || form.get('email').errors?.required">
                    Insert a valid e-mail
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center center"
        fxLayoutGap="16px"
        fxLayoutGap.xs="0"
    >
        <div>
            <mat-form-field
                appearance="outline"
                class="password"
            >
                <mat-label>Password</mat-label>
                <input
                    type="password"
                    name="password"
                    matInput
                    matInputOutlineFix
                    placeholder="Password"
                    formControlName="password"
                >
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="!form.get('password').errors?.required && form.get('password').errors?.minlength">
                    min 6 characters
                </mat-error>
                <mat-error *ngIf="form.get('password').errors?.required">
                    required
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field
                appearance="outline"
                class="password"
            >
                <mat-label>Repeat Password</mat-label>
                <input
                    type="password"
                    name="password"
                    matInput
                    matInputOutlineFix
                    placeholder="Repeat password"
                    formControlName="confirmPassword"
                >
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="form.get('confirmPassword').errors?.required">
                    required
                </mat-error>
                <mat-error *ngIf="!form.get('confirmPassword').errors?.required && form.get('confirmPassword').errors?.minlength">
                    min 6 characteres
                </mat-error>
                <mat-error *ngIf="!form.get('confirmPassword').errors?.required && !form.get('confirmPassword').errors?.minlength && form.get('confirmPassword').errors?.equalTo">
                    password must match
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="actions ion-text-center">
        <button
            type="submit"
            mat-stroked-button
            color="accent"
            [disabled]="loading || form.invalid"
        >
            Sign Up
        </button>
    </div>
</form>
