<form
    [formGroup]="form"
    class="animated flipInY"
    (ngSubmit)="submit()"
    fxLayout="column"
>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
                type="password"
                matInput
                matInputOutlineFix
                formControlName="password"
            >
            <mat-icon matSuffix>vpn_key</mat-icon>

            <mat-error *ngIf="!form.get('password').errors?.required && form.get('password').errors?.minlength">
                minimum 6 characters
            </mat-error>
            <mat-error *ngIf="form.get('password').errors?.required">
                required
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Repeat Password</mat-label>
            <input
                type="password"
                matInput
                matInputOutlineFix
                formControlName="confirmPassword"
            >
            <mat-icon matSuffix>vpn_key</mat-icon>

            <mat-error *ngIf="!form.get('confirmPassword').errors?.minlength && !form.get('confirmPassword').errors?.required && form.get('confirmPassword').errors?.equalTo">
                must match password
            </mat-error>
            <mat-error *ngIf="!form.get('confirmPassword').errors?.required && form.get('confirmPassword').errors?.minlength">
                minimum 6 characters
            </mat-error>
            <mat-error *ngIf="form.get('confirmPassword').errors?.required">
                required
            </mat-error>
        </mat-form-field>
    </div>

    <div class="actions ion-text-center">
        <button
            type="submit"
            mat-stroked-button
            color="accent"
            [disabled]="loading || form.invalid"
        >
            {{action === 'create' ? 'Continue' : 'Save'}}
        </button>
    </div>
</form>
