<form
    [formGroup]="form"
    class="animated flipInY"
    (ngSubmit)="submit()"
    fxLayout="column"
>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
                type="text"
                matInput
                matInputOutlineFix
                formControlName="display_name"
            >
            <mat-icon matSuffix>tag_faces</mat-icon>

            <mat-error *ngIf="form.get('display_name').errors?.required">
                required
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
                type="email"
                matInput
                matInputOutlineFix
                formControlName="email"
            >
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
    </div>

    <div class="actions ion-text-center">
        <button
            type="submit"
            mat-stroked-button
            color="accent"
            [disabled]="loading || form.invalid"
        >
            Save
        </button>
    </div>
</form>
