.mat-drawer-container {
    background-color: transparent !important;
}

.menu-sidenav-container {

    .mat-sidenav {
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
    }

    .flex-center {
        display: flex;
        align-items: center;
    }

    .subtitle.has-icon {
        i {
            margin-right: 10px;
        }
    }

    .inside {
        @media screen and (max-width: 858px) {
            margin: 20px;
        }
    }
}
