<app-loader-bar></app-loader-bar>

<mat-sidenav-container [attr.fullscreen]="true" class="menu-sidenav-container">
    <mat-sidenav [opened]="isSidenavOpen" [mode]="sidenavMode" #sidenav>

        <!-- SIDENAV -->
        <app-sidenav [menu]="menu"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="scroll-top"></div>

        <!-- TOOLBAR -->
        <app-toolbar [sidenav]="sidenav"></app-toolbar>

        <!-- BREADCRUMB -->
        <app-breadcrumb *ngIf="menuService.breadcrumbs.length"></app-breadcrumb>

        <!-- PAGE TITLE -->
        <app-page-title *ngIf="menuService.toolbar.title" [back]="menuService.toolbar.back||'/'" [title]="menuService.toolbar.title"></app-page-title>

        <!-- CONTENT -->
        <div class="container">
            <section class="hero animated fadeIn">
                <div class="hero-body">

                    <router-outlet></router-outlet>
                </div>
            </section>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>

<!-- FIXED FAB -->
<app-fixed-fab fixed-fab-container></app-fixed-fab>
