<div fxLayout="column" fxLayout.gt-sm fxLayoutGap="24px">
    <challenge-category-list fxFlex.gt-sm fxFlex="none"></challenge-category-list>
    <chart-bar [view]="[330, 236]" [setup]="chartBarTopCategories" fxFlex.gt-sm="1 1 60%" fxFlex="none"></chart-bar>
</div>
