<!-- FEELING LABEL WRAPPER -->
<div
    class="feeling-label-wrapper"
    fxLayout="column"
    fxLayoutAlign="center center"
>
    <!-- SELECTED FEELING LABEL -->
    <div
        class="page-title animated fadeIn ion-margin-top"
        [fxHide]="!feeling.current.category"
    >
        {{feeling.getLevelLabel()}}
        {{feeling.getCategoryLabel()}}
    </div>

    <!-- PRESENTATION LABEL -->
    <div
        class="animated fadeIn ion-text-center"
        [fxHide]="feeling.current.category"
    >
        <b>Hi there! I'm your personal guide.</b>
        Tell me how are you feeling using the slider below
    </div>
</div>

<!-- SVG -->
<div
    class="svg-wrapper-container"
    fxLayout="column"
>

    <div
        class="y-axis axis"
        fxFlex
        fxLayout="column"
    >
        <div [fxFlex]="'0 0 ' + yAxisPadding + '%'"></div>
        <div fxFlex>5</div>
        <div fxFlex>4</div>
        <div fxFlex>3</div>
        <div fxFlex>2</div>
        <div [fxFlex]="'0 0 ' + yAxisPadding + '%'">1</div>
    </div>
    <div
        class="x-axis axis"
        fxLayout
    >
        <div [fxFlex]="'0 0 ' + xAxisPadding + '%'"></div>
        <div fxFlex>Angry</div>
        <div fxFlex>Sad</div>
        <div fxFlex>Anxious</div>
        <div fxFlex>Happy</div>
        <div [fxFlex]="'0 0 ' + xAxisPadding + '%'"></div>
    </div>

    <svg
        class="svg-wrapper"
        width="100%"
        height="100%"
        #svg
    >

        <!-- LINES -->
        <line
            class="line animated"
            x1="0"
            x2="100%"
            [attr.y1]="line.y"
            [attr.y2]="line.y"
            *ngFor="let line of lines; index as i"
            [ngClass]="{'fadeInDown': i % 2 === 0, 'fadeInUp': i % 2 !== 0}"
        />

        <!-- POINTS -->
        <circle
            class="drag-target"
            [attr.r]="'1px'"
            [attr.cx]="point.cx"
            [attr.cy]="point.cy"
            [attr.xAxisValue]="point.xValue"
            [attr.yAxisValue]="point.yValue"
            *ngFor="let point of points"
        />

        <!-- POINT START/END -->
        <circle
            class="leader-start-target"
            [attr.r]="'1px'"
            [attr.cx]="'0%'"
            [attr.cy]="'92%'"
        />
        <circle
            class="leader-end-target"
            [attr.r]="'1px'"
            [attr.cx]="'100%'"
            [attr.cy]="'92%'"
        />

        <!-- DRAGGER -->
        <ellipse
            class="draggable"
            plainDraggable
            [attr.ry]="draggableSize"
            [attr.rx]="draggableSize"
            [attr.cy]="yDefaultCY"
            [attr.cx]="xDefaultCX"
            [svg]="svg"
            [points]="points"
            (onSelect)="onSelectPoint($event)"
            #elementEllipse
        />
    </svg>
</div>

<!-- PRESENTATION LABEL -->
<div class="presentation-label-wrapper ion-text-center">
    <div class="animated fadeIn">
        <b>Slide</b> the dot <b>left or right</b> to pick an emotion <br>
        <b>up or down</b> to pick the intensity
    </div>
</div>

<div
    class="lines-container"
    style="position: absolute; height: 100%; width: 100%; top: 0; left: 0; z-index: 0; pointer-events: none;"
></div>
