.feeling-label-wrapper {
    height: 64px;
    padding: 0 16px;

    @media (max-height: 600px) {
        height: 35px;
    }
}

.presentation-label-wrapper {
    height: 64px;
    padding: 0 16px;
    margin-top: 36px;
}

.svg-wrapper {
    width: 100%;
    height: 100%;
}

.line {
    fill: none;
    stroke: rgba(255, 255, 255, .3);
    stroke-width: 1px;
}

.drag-target {
    fill: rgba(255, 255, 255, 0);
}

.draggable {
    fill: rgba(255, 255, 255, .87);
    stroke-width: 0;
}

.svg-wrapper-container {
    position: relative;

    .axis {
        position: absolute;
        font-size: 11px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, .6);
        z-index: 0;
        pointer-events: none;
    }

    .y-axis {
        height: 100%;
        top: 5px;

        div {
            text-align: left;
            padding-left: 24px;
            font-weight: bold;
        }
    }

    .x-axis {
        width: 100%;
        bottom: -12px;
        text-align: center;

        div {
            transform: rotate(-25deg);
            font-size: 12px;
            font-weight: bold;
            margin-bottom: -5px;
        }
    }
}
