<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                color="light"
                defaultHref="account-login"
            ></ion-back-button>
        </ion-buttons>

        <ion-title>
            <img
                class="content-header-logo"
                src="/assets/images/logo-square.svg"
            >
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
    <!-- FULL HEIGHT -->
    <div
        has-full-min-height-pct
        fxLayout="column"
    >
        <!-- SCROLL CONTENT -->
        <ion-content
            class="ion-padding-top ion-padding-start ion-padding-end"
            fxFlex
        >
            <div
                has-full-min-height-pct
                fxLayout="column"
                fxLayoutGap="32px"
                fxLayoutAlign="center center"
            >
                <div class="ion-text-center">
                    <div class="page-title-small">Social Network</div>
                </div>

                <div
                    class="pc-buttons"
                    fxLayout="column"
                    fxLayoutGap="8px"
                    fxLayoutAlign="center center"
                >
                    <button
                        type="button"
                        mat-stroked-button
                        (click)="authGoogle()"
                    >
                        Sign In With Google

                        <mat-icon
                            fontSet="fab"
                            fontIcon="fa-google"
                        ></mat-icon>
                    </button>

                    <button
                        type="button"
                        mat-stroked-button
                        (click)="authFacebook()"
                    >
                        Sign In With Facebook

                        <mat-icon
                            fontSet="fab"
                            fontIcon="fa-facebook-f"
                        ></mat-icon>
                    </button>
                </div>
            </div>
        </ion-content>

        <!-- FOOTER -->
        <div
            class="ion-padding-bottom ion-padding-start ion-padding-end"
            fxLayout
            fxLayoutGap="16px"
            fxLayoutAlign="space-between center"
        >
            <button
                type="button"
                mat-button
                mat-button-extra-small
                is-capitalize
                [routerLink]="'/account-login-register'"
            >
                Create account
            </button>

            <button
                type="button"
                mat-button
                mat-button-extra-small
                is-capitalize
                [routerLink]="'/account-login-forgot-password'"
            >
                Forgot password
            </button>
        </div>
    </div>
</ion-content>
