<modal-overlay
    mode="sky"
    [attr.is-transparent]="true"
>
    <div
        class="mo-content-fix"
        fxLayout="column"
    >
        <div
            class="mo-header"
            fxLayout
            fxLayoutGap="16px"
            fxLayoutAlign="start center"
        >
            <div
                class="mo-header-icon-circle"
                fxLayout="column"
                fxLayoutAlign="center center"
            >
                <mat-icon
                    fontSet="fas"
                    [fontIcon]="actionStepLevel.categoryOptions[category].icon"
                ></mat-icon>
            </div>

            <div>
                <div class="mo-header-title">{{ui.startCaseString(category)}}</div>
                <progress-heart-chart
                    [count]="selectedLevel.progress"
                    [color]="actionStepLevel.categoryOptions[category].color"
                ></progress-heart-chart>
            </div>
        </div>

        <div class="ion-margin-bottom">
            <button
                has-full-width-pct
                mat-flat-button
                mat-action-button
                color="light"
                (click)="close()"
            >
                Tap to close
            </button>
        </div>

        <div
            class="mo-scroll-wrapper"
            fxLayout="column"
            fxFlex
        >
            <ion-content
                scrollY="true"
                fxFlex
            >
                <!-- CATEGORY DESCRIPTION -->
                <div class="category-desc">
                    <div class="mo-body-title-extra-small"><small>DESCRIPTION</small></div>
                    <div>{{actionStepLevel.categoryOptions[category].desc}}</div>
                </div>

                <!-- CATEGORY LIST -->
                <div class="action-step-list">
                    <div class="mo-body-title-extra-small"><small>ACTION STEP HISTORY</small></div>
                    <action-step-history-list
                        [filter]="'completed'"
                        [category]="category"
                        [limit]="selectedLevel.progress"
                        [showHeader]="false"
                        *ngIf="selectedLevel.progress > 0"
                    ></action-step-history-list>

                    <div
                        class="no-data"
                        [fxHide]="selectedLevel.progress > 0"
                        fxLayout
                        fxLayoutAlign="start center"
                        fxLayoutGap="8px"
                    >
                        <mat-icon>info</mat-icon>
                        <div>No action step in the current level</div>
                    </div>
                </div>
            </ion-content>
        </div>
    </div>
</modal-overlay>
