<div
    fxLayout="column"
    fxLayoutGap="16px"
>
    <div class="page-subtitle ion-text-center">
        Level {{level.level + 1}}
    </div>

    <div class="chart-wrapper animated fadeIn">
        <div
            class="chart-line"
            (click)="presentModal('connections')"
        >

            <!-- TITLE -->
            <div class="chart-line-title">
                CONNECTIONS
                <mat-icon>help</mat-icon>
            </div>

            <!-- HEARTS AND LABEL -->
            <div
                fxLayout
                fxLayoutGap="8px"
            >
                <progress-heart-chart
                    [count]="level.connections_progress"
                    [color]="'primary'"
                ></progress-heart-chart>
                <div class="chart-level-label primary">{{level.connections_progress}}/10</div>
            </div>
        </div>

        <div
            class="chart-line"
            (click)="presentModal('fuel')"
        >

            <!-- TITLE -->
            <div class="chart-line-title">
                FUEL
                <mat-icon>help</mat-icon>
            </div>

            <!-- HEARTS AND LABEL -->
            <div
                fxLayout
                fxLayoutGap="8px"
            >
                <progress-heart-chart
                    [count]="level.fuel_progress"
                    [color]="'warning'"
                ></progress-heart-chart>
                <div class="chart-level-label warning">{{level.fuel_progress}}/10</div>
            </div>
        </div>

        <div
            class="chart-line"
            (click)="presentModal('energy_release')"
        >

            <!-- TITLE -->
            <div class="chart-line-title">
                ENERGY RELEASE
                <mat-icon>help</mat-icon>
            </div>

            <!-- HEARTS AND LABEL -->
            <div
                fxLayout
                fxLayoutGap="8px"
            >
                <progress-heart-chart
                    [count]="level.energy_release_progress"
                    [color]="'success'"
                ></progress-heart-chart>
                <div class="chart-level-label success">{{level.energy_release_progress}}/10</div>
            </div>
        </div>

        <div
            class="chart-line"
            (click)="presentModal('awareness')"
        >

            <!-- TITLE -->
            <div class="chart-line-title">
                AWARENESS
                <mat-icon>help</mat-icon>
            </div>

            <!-- HEARTS AND LABEL -->
            <div
                fxLayout
                fxLayoutGap="8px"
            >
                <progress-heart-chart
                    [count]="level.awareness_progress"
                    [color]="'purple'"
                ></progress-heart-chart>
                <div class="chart-level-label purple">{{level.awareness_progress}}/10</div>
            </div>
        </div>

        <div
            class="chart-line"
            (click)="presentModal('challenge')"
        >

            <!-- TITLE -->
            <div class="chart-line-title">
                CHALLENGE
                <mat-icon>help</mat-icon>
            </div>

            <!-- HEARTS AND LABEL -->
            <div
                fxLayout
                fxLayoutGap="8px"
            >
                <progress-heart-chart
                    [count]="level.challenge_progress"
                    [color]="'danger'"
                ></progress-heart-chart>
                <div class="chart-level-label danger">{{level.challenge_progress}}/10</div>
            </div>
        </div>
    </div>
</div>
