.chart-wrapper {
    .chart-line-title {
        font-weight: 700;
        font-size: 11px;
        margin-bottom: 8px;

        small {
            font-weight: 500;
            font-size: 9px;
            color: rgba(255, 255, 255, .4);
        }

        .mat-icon {
            font-size: 13px;
            height: 13px;
            vertical-align: bottom;
        }
    }

    .chart-line {
        padding: 16px;
        background-color: rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .chart-level-label {
        font-size: 11px;
        margin-top: -1px;
    }

    .primary {
        color: var(--ion-color-custom-primary);
    }

    .warning {
        color: var(--ion-color-custom-warning);
    }

    .success {
        color: var(--ion-color-custom-success);
    }

    .purple {
        color: var(--ion-color-custom-purple);
    }

    .danger {
        color: var(--ion-color-custom-danger);
    }

}
