<ion-content [scrollY]="false">
    <!-- FULL HEIGHT -->
    <div has-full-min-height-pct fxLayout="column">
        <!-- SCROLL CONTENT -->
        <ion-content class="ion-padding-top ion-padding-start ion-padding-end" fxFlex>
            <div has-full-min-height-pct fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                    <img class="content-header-logo" src="/assets/images/logo-square.svg" />

                    <h2 class="page-title-small has-text-centered">Neuraboot</h2>

                    <p>
                        Gamified emotional support and self-care
                    </p>

                    <div class="card">
                        <iframe
                            width="100%"
                            height="280"
                            src="https://www.youtube.com/embed/3K-vTqJf0qg?autoplay=1&mute=1&enablejsapi=1&loop=1"
                            frameborder="0"
                            allowfullscreen
                            allow="accelerometer; autoplay; mute; encrypted-media; gyroscope; picture-in-picture"
                            autoplay="1"
                            mute="1"
                        ></iframe>
                    </div>

                    <div class="page-title">Sign In With</div>
                </div>

                <div class="pc-buttons" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                    <button type="button" mat-button mat-button-large [routerLink]="['/account-login-email']">
                        Email and Password
                    </button>

                    <button type="button" mat-button mat-button-large [routerLink]="['/account-login-social']">
                        Social Network
                    </button>
                </div>
            </div>
        </ion-content>

        <!-- FOOTER -->
        <div class="ion-padding-bottom ion-padding-start ion-padding-end" fxLayout fxLayoutGap="20px" fxLayoutAlign="space-between center">
            <button type="button" mat-button mat-button-extra-small is-capitalize [routerLink]="'/account-login-register'">
                Create account
            </button>

            <button type="button" mat-button mat-button-extra-small is-capitalize [routerLink]="'/account-login-forgot-password'">
                Forgot password
            </button>
        </div>
    </div>
</ion-content>
