<mat-card class="table-entries mat-elevation-z1" *ngIf="!ui.loading||filteredData.length">
    <mat-card-content>
        <div class="wrapper" *ngIf="filteredData.length">
            <div class="td-data-table-scrollable table-scrollable">
                <table class="" td-data-table>
                    <th td-data-table-column *ngFor="let column of columns" [numeric]="column.numeric" [ngClass]="{'mobile-hidden': column.hideOnMobile}">
                        {{column.label}}
                    </th>
                    <tbody class="td-data-table-body">
                        <tr td-data-table-row *ngFor="let row of filteredData">
                            <td td-data-table-cell *ngFor="let column of columns" [ngStyle]="{'min-width':column.width+'px', 'max-width':column.width+'px'}"
                                [ngClass]="{'mobile-hidden': column.hideOnMobile}" (click)="rowClick(row, column)">
                                <div class="columns is-vertical is-gapless">

                                    <div class="column {{column.name}}" *ngIf="column.formatWithRow" [matTooltip]="column.formatWithRow(row, true)">{{column.formatWithRow(row)}}</div>

                                    <div class="column {{column.name}}" *ngIf="!column.formatWithRow && !column.avatar && !column.matIcon && !column.faIcon">{{column.format?column.format(row[column.name]):row[column.name]}}</div>

                                    <div class="column {{column.name}}" *ngIf="column.avatar">
                                        <user-avatar in-column [url]="row[column.name]" [online]="row.online_at?moment(row.online_at).unix() >= moment().subtract(1, 'hour').unix():false"
                                            *ngIf="!column.formatImageAvatar"></user-avatar>

                                        <div class="has-image-avatar" *ngIf="column.formatImageAvatar"
                                            [style.backgroundImage]="column.formatImageAvatar(row)">
                                        </div>
                                    </div>

                                    <div class="column {{column.name}} {{row[column.name]}}" *ngIf="column.matIcon"><i
                                            class="material-icons">{{column.format?column.format(row[column.name])||'timelapse':'code'}}</i></div>

                                    <div class="column {{column.name}} {{row[column.name]}}" *ngIf="column.faIcon"><i
                                            class="{{column.format?column.format(row[column.name])||'timelapse':'code'}}"></i>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <td-paging-bar *ngIf="filteredTotal > pageSize" #pagingBar [pageSize]="pageSize" [total]="filteredTotal"
                (change)="page($event)" [initialPage]="initialPage">
                {{pagingBar.range}}
                <span hide-xs>of {{pagingBar.total}}</span>
            </td-paging-bar>
        </div>

        <small *ngIf="!filteredData.length">No records found</small>

    </mat-card-content>
</mat-card>
