:host {
    &[has-filters] {
        .table-entries {
            border-top: 1px solid #eee;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
    }
}

.table-entries {

    .td-data-table-scrollable {
        border-top: 0;
    }

    .td-data-table-body {
        tr:hover>td {
            background: #f9f9f9;
            cursor: pointer;
        }
    }

    .loading {
        position: absolute;
        width: 100%;
        top: 1px;
        left: 0;

        *,
        *::after,
        *::before {
            border-radius: 24px;
        }
    }

    .wrapper {
        margin-top: 20px !important;
        flex-direction: column;
    }

    table[td-data-table] .td-data-table-row {
        border-bottom-color: rgba(0, 0, 0, 0.04);
    }

    @media screen and (max-width: 479px) {
        .mobile-hidden {
            display: none;
        }
    }

    .has-image-avatar {
        background-size: cover;
        background-position: center center;
        width: 35px;
        height: 35px;
        margin-top: 5px;
        border-radius: 100%;
    }
}
