/*--------  Material icons  --------*/

@import "src/theme/material-icons";


/*--------  Font awesome  --------*/

@import "src/theme/font-awesome";


/*--------  App font - Open Sans  --------*/

@font-face {
    font-family: 'OpenSans';
    src: url("../assets/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
