@import "node_modules/@angular/material/theming";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dark-primary: mat-palette($mat-cyan, 500, 500, 900);
$dark-accent: mat-palette($mat-grey, A200, A100, A400);
$dark-warn: mat-palette($mat-pink, 300, 500, 900);

// Create the theme object (a Sass map containing all of the palettes).
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dark-theme);

// Define an alternate dark theme.
$light-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
@include mat-menu-theme($light-theme);
@include mat-snack-bar-theme($light-theme);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.use-dark-theme {
    @include angular-material-theme($dark-theme);
}

.use-light-theme {
    @include angular-material-theme($light-theme);

    .mat-list .mat-list-item {
        color: rgba(0, 0, 0, 0.6);
    }
}

$general-typography: mat-typography-config($font-family: '"OpenSans", "Open Sans", "Helvetica Neue", sans-serif', $body-2: mat-typography-level(14px, 24px, 600));
$secondary-typography: mat-typography-config($font-family: '"OpenSans", Roboto, sans-serif');


// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);
