// html{
//     // font-size: 14px;
// }
html, body {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.07em;
    color: rgba(255, 255, 255, .87);

    /*--------  Fix fill input for 13px font-size  --------*/
    .mat-form-field-appearance-fill {

        .mat-form-field-prefix,
        .mat-form-field-suffix {
            top: -3px;
        }
    }

}

/*--------  Full height  --------*/

[has-full-height] {
    height: 100vh;
}

[has-full-height-pct] {
    height: 100%;
}

[has-full-min-height-pct] {
    min-height: 100%;
}

[has-full-width-pct] {
    width: 100%;
}

/*--------  Form error margin bottom  --------*/

.mat-form-field-invalid {
    margin-bottom: 1.5em;
}

/*--------  Backgrounds  --------*/

app-account-login,
app-wizard {
    --ion-background-color: rgba(0, 0, 0, 0);
    background: url('/assets/images/bg-desert.svg') center center / cover;
    background-repeat: no-repeat;
}

ion-menu ion-content,
app-account-login-email,
app-account-login-register,
app-subscribe {
    --ion-background-color: rgba(0, 0, 0, 0);
    background: url('/assets/images/bg-desert-blue.svg') center center / cover;
    background-repeat: no-repeat;
}

app-account-login-social {
    --ion-background-color: rgba(0, 0, 0, 0);
    background: url('/assets/images/bg-desert-orange.svg') center center / cover;
    background-repeat: no-repeat;
}

app-account-login-forgot-password {
    --ion-background-color: rgba(0, 0, 0, 0);
    background: url('/assets/images/bg-desert-dark.svg') center center / cover;
    background-repeat: no-repeat;
}

app-home,
app-my-profile,
app-account,
app-account-basic-info,
app-account-password,
app-account-login-create-password,
app-account-subscription {
    --ion-background-color: rgba(0, 0, 0, 0);
    background: url('/assets/images/bg-forest.svg') center center / cover;
    background-repeat: no-repeat;
}

app-my-mood {
    --ion-background-color: rgba(0, 0, 0, 0);
}

app-my-progress {
    --ion-background-color: rgba(0, 0, 0, 0);
    background: url('/assets/images/bg-cavern.png') center center / cover;
    background-repeat: no-repeat;
}

.bg-desert-clear {
    background-image: url('/assets/images/bg-desert-clear.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*--------  Menu list  --------*/

ion-menu-toggle {
    width: 100%;
}

ion-list[is-custom-menu] {
    width: 100%;
    background-color: transparent;

    .fas.mat-icon {
        font-size: 1.5em;
        height: 19px;
        line-height: 16px;
    }


    .sc-ion-label-ios-h,
    .sc-ion-label-md-h {
        font-size: 16px;
    }

    ion-item {
        --background-active: rgba(255, 255, 255, .07);
        --background-activated: rgba(255, 255, 255, .07);
        --background: rgba(255, 255, 255, .0);
        --color: rgba(255, 255, 255, .87);
        color: rgba(255, 255, 255, .87);

        &.activated {
            --background-active: rgba(255, 255, 255, .07);

            button {
                background-color: rgba(255, 255, 255, .07);
            }
        }

        .mat-icon {
            font-size: 17px !important;
            line-height: 18px !important;
            height: 17px;
            width: 17px;
        }
    }

    ion-list-header {
        color: rgba(255, 255, 255, .3);
    }
}

/*--------  Input[type="email"] ux fix --------*/

input[type="email"] {
    text-transform: lowercase;
}

/*--------  Modal overlay  --------*/

ion-modal {
    --background: rgba(0, 0, 0, 0);
    --ion-background-color: rgba(0, 0, 0, 0);

    ion-backdrop {
        background-color: transparent;
    }
}

modal-overlay {
    ion-content {
        --ion-background-color: rgba(0, 0, 0, 0);
    }
}

.mo-header {
    position: relative;
    margin-bottom: 24px;

    .mo-header-title {
        font: 400 24px/32px "OpenSans", "Open Sans", "Helvetica Neue", sans-serif;
    }

    .mo-header-close-btn {
        margin-right: -16px;
    }

    .mo-header-subtitle {
        color: rgba(255, 255, 255, .5);
        text-transform: uppercase;
        font-size: 10px;
    }

    .mo-header-icon {
        font-size: 34px !important;
        width: 38px;
        height: 38px;
        line-height: 38px;
    }
}

.mo-header-close-image-btn {
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border: 0;

    &:after {
        content: '';
        padding: 7px;
        background: url('/assets/images/icon-close.svg') no-repeat center (top / contain);
        background-position: center center;
    }
}

.mo-header-icon-circle {
    width: 43px;
    height: 43px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .87);
    margin-top: 4px;

    .mat-icon {
        color: rgba(0, 0, 0, .97);
        text-align: center;
        line-height: 43px;
        height: 100%;
        width: 100%;
    }
}

.mo-container {
    &.mo-mode-card {
        .mo-content-fix {
            width: 100%;
        }

        .mo-header {
            margin-bottom: 16px;
            color: rgba(0, 0, 0, .5);
        }
    }
}

.mo-content-fix {
    width: 100%;
    height: 100%;
}

.mo-scroll-wrapper {
    position: relative;
}

.mo-body-title-extra-small {
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
}

.mo-footer {
    margin-bottom: -48px;

    .mat-button,
    .mat-raised-button,
    .mat-flat-button,
    .mat-stroked-button {
        border-radius: 0;
    }
}

/*--------  Text colors  --------*/

.has-text-accent {
    color: var(--ion-color-secondary);
}


/*--------  Text styles  --------*/


.has-letter-spacing {
    letter-spacing: 0.15rem;
}


/*--------  Ion title  --------*/

ion-title {
    font-size: 13px;
    text-transform: uppercase;
}


/*--------  Page titles  --------*/

.page-title {
    line-height: 1.2;
    font-size: 2em;
}

.page-title-small {
    font-size: 1.6rem;
}

.page-title-extra-small {
    font-size: 1em;
}

.page-title-margin {
    margin-top: 34px;
}

.page-subtitle {
    font-size: 1.3em;
}

/*--------  Buttons  --------*/

html {
    font-size: 1em;
    .mat-button,
    .mat-raised-button,
    .mat-flat-button,
    .mat-icon-button,
    .mat-stroked-button {
        letter-spacing: 0.15rem;
        padding-top: 2px;
        padding-bottom: 2px;
        color: #fff;

        &:not([mat-button-stick-footer]) {
            border-radius: 50px;
        }

        &[is-bold] {
            font-weight: 700;
        }

        &[is-capitalize] {
            text-transform: uppercase;
        }

        &[color=light] {
            background-color: rgba(184,184,184, 0.5);
            text-shadow: 1px 1px 2px gray;
        }

        &[color=gold] {
            background-color: rgba(218, 165, 32, 0.9);
        }

        .mat-icon {

            &.fab,
            &.fas,
            &.far {
                font-size: inherit;
                vertical-align: baseline;
            }
        }
    }
}

[mat-button-large] {

    &.mat-button,
    &.mat-raised-button,
    &.mat-stroked-button,
    &.mat-flat-button {
        font-size: 1.2rem;
        line-height: 42px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

[mat-button-small] {

    &.mat-button,
    &.mat-raised-button,
    &.mat-stroked-button,
    &.mat-flat-button {
        font-size: 1rem;
    }

    .mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        line-height: 15px;
        margin-right: 4px;
    }
}

[mat-button-extra-small] {

    &.mat-button,
    &.mat-raised-button,
    &.mat-stroked-button,
    &.mat-flat-button {
        font-size: 0.75rem;
    }
}

[mat-button-stick-footer] {
    border-radius: 0 !important;
    min-width: 100%;
}

.mat-raised-button,
.mat-flat-button {
    &[mat-action-button] {
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;

        &[color="gradient"] {
            background: linear-gradient(0.25turn, #30d7d2, #50e3c2);

            &[disabled] {
                background: linear-gradient(0.25turn, rgba(128, 128, 128, .2), rgba(169, 169, 169, .2));
                color: rgba(255, 255, 255, .1);
            }
        }

        .mat-icon {
            font-size: 18px;
            height: 18px;
            position: absolute;

            &[slot] {
                top: 11px;
            }

            &[slot='left'] {
                left: 16px;
            }

            &[slot='right'] {
                right: 16px;
            }
        }

        &[mat-button-small] {

            &.mat-button,
            &.mat-raised-button,
            &.mat-stroked-button,
            &.mat-flat-button {
                font-size: 0.7rem;
                padding: 0 4px;
            }

            .mat-icon {
                font-size: 18px;
                width: 18px;
                height: 18px;
                line-height: 15px;
                margin-right: 0;

                &[slot='left'] {
                    left: 12px;
                }

                &[slot='right'] {
                    right: 12px;
                }
            }
        }
    }
}

/*--------  Button with image icon  --------*/

[mat-button-has-icon-image] {
    img {
        max-width: 26px;
        padding-bottom: 4px;
        width: 26px;

        &[right] {
            padding-left: 8px;
        }

        &[left] {
            padding-right: 8px;
        }
    }
}

/*--------  Ion refresher  --------*/

ion-refresher {
    z-index: 0;
    margin-top: 16px;
}


/*--------  Truncate  --------*/

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*--------  Ion title image  --------*/

ion-title {
    img {
        width: 38px;
        margin: 0 auto;
        display: block;
    }
}


/*--------  Mat card  --------*/

.mat-card {
    &[mat-card-overlay] {
        background-color: rgba(255, 255, 255, 0.25);
        color: #fff;
        border-radius: 18px;
        position: relative;
        padding: 24px;
        padding-bottom: 8px;
    }
}

/*--------  Tags  --------*/

.page-tags {
    justify-content: center;
    display: flex;
    flex-direction: row;

    .page-tag {
        position: relative;

        &[has-overflow-hidden] {
            span {
                overflow: hidden;
                height: 35px;
                padding: 0px 17px;
                line-height: 34px;
            }
        }

        &[color=overlay] {
            span {
                border: 1px solid rgba(255, 255, 255, 0.4);
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        span {
            position: relative;
            padding: 7px 17px;
            letter-spacing: normal;
            font-size: 0.8rem;
            margin: 0 3px;
            margin-top: 12px;
            border-radius: 18px;
            color: white;
            background-color: #45314a;
            display: block;
        }
    }

    .remove-btn {
        top: 8px;
        right: 3px;
    }
}

.remove-btn {
    position: absolute;
    padding-top: 9px;
    width: 32px;
    top: 0;
    right: 0;
    margin-top: -4px;
    margin-right: -9px;
    height: 31px;
    background: transparent;
    border: 0;

    &:after {
        content: "";
        padding: 8px;
        background: url('/assets/images/icon-delete.svg') no-repeat center (top / contain);
    }
}


/*--------  Toolbar  --------*/

ion-toolbar {
    .button-native.sc-ion-back-button-ios {
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;

        .button-text.sc-ion-back-button-ios {
            margin-left: 10px;
        }
    }

    ion-icon.sc-ion-back-button-ios {
        display: flex;
        align-items: center;
        margin-left: 6px;

        &:before {
            content: "";
            display: inline-block;
            padding: 10px;
            margin-right: 10px;
            vertical-align: middle;
            background: url('/assets/images/icon-left-arrow.svg') no-repeat center top/contain;
        }
    }
}


/*--------  Mat list selection list   --------*/


mat-selection-list[is-card-list] {

    &[has-border] {
        .mat-list-option:not(:last-child) .mat-list-item-content {
            border-bottom: 1px solid #eee;
        }
    }

    &[hide-checkbox] mat-pseudo-checkbox {
        display: none;
    }

    &.mat-list-base {

        .mat-list-option {
            color: rgba(0, 0, 0, .87);
        }
    }

    &[color='primary'] {
        .mat-pseudo-checkbox-checked {
            background-color: rgba(80, 227, 195, 1);

            &:after {
                color: white;
            }
        }
    }

    .mat-pseudo-checkbox {
        color: transparent;
    }
}

/*--------  Mat tab nav  --------*/

[mat-tab-nav-custom] {
    &[mat-tab-small] {
        .mat-tab-link {
            font-size: 10px;
            text-transform: none;
            height: 30px;
        }
    }

    .mat-tab-label,
    .mat-tab-link {
        font-size: 11px;
        text-transform: uppercase;
    }
}

/*--------  NGX Charts  --------*/

.ngx-charts {
    text {
        fill: rgba(255, 255, 255, 0.87) !important;
        font-size: 8px !important;
        font-weight: 700;
        text-transform: uppercase;
    }

    .gridline-path {
        stroke: rgba(255, 255, 255, 0.1) !important;
    }
}


/*--------  Icon locked content  --------*/

.icon-locked-content {
    position: absolute;
    left: 16px;
    top: 12px;
}
