// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #30d7d2;
    --ion-color-primary-rgb: 48, 215, 210;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #25aaa6;
    --ion-color-primary-tint: #32f2ec;

    /** secondary **/
    --ion-color-secondary: #32db64;
    --ion-color-secondary-rgb: 50, 219, 100;
    --ion-color-secondary-contrast: #fff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #2cc158;
    --ion-color-secondary-tint: #47df74;

    /** tertiary **/
    --ion-color-tertiary: #f4a942;
    --ion-color-tertiary-rgb: 244, 169, 66;
    --ion-color-tertiary-contrast: #fff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #d7953a;
    --ion-color-tertiary-tint: #f5b255;

    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;

    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-color-danger: #f53d3d;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #fff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d83636;
    --ion-color-danger-tint: #f65050;

    /** light **/
    --ion-color-light: #f4f4f4;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d7d7;
    --ion-color-light-tint: #f5f5f5;

    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    /** dark **/
    --ion-color-dark: #0d3e54;
    --ion-color-dark-rgb: 13, 62, 84;
    --ion-color-dark-contrast: #fff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e1e1e;
    --ion-color-dark-tint: #383838;

    /** font **/
    --ion-font-family: 'OpenSans' !important;

    html,
    body {
        --ion-font-family: 'OpenSans' !important;
    }

    /** custom **/
    --ion-toolbar-background-color: 'transparent';
    --ion-color-base: rgba(255, 255, 255, .87);
    --ion-text-color: rgba(255, 255, 255, .87);
    --ion-background-color: #353157;

    /** feeling colors **/
    --ion-color-default-default-dark: rgba(52, 49, 87, 1);
    --ion-color-default-default-light: rgba(160, 81, 94, 1);

    --ion-color-angry-default-dark: rgba(0, 0, 0, 1);
    --ion-color-angry-default-light: rgba(116, 100, 103, 1);
    --ion-color-angry-little-dark: rgba(10, 3, 1, 1);
    --ion-color-angry-little-light: rgba(126, 105, 104, 1);
    --ion-color-angry-pretty-dark: rgba(20, 6, 2, 1);
    --ion-color-angry-pretty-light: rgba(136, 110, 105, 1);
    --ion-color-angry-very-dark: rgba(30, 9, 3, 1);
    --ion-color-angry-very-light: rgba(146, 120, 106, 1);
    --ion-color-angry-extremely-dark: rgba(40, 12, 4, 1);
    --ion-color-angry-extremely-light: rgba(156, 125, 107, 1);

    --ion-color-depressed-default-dark: rgba(46, 42, 85, 1);
    --ion-color-depressed-default-light: rgba(80, 133, 196, 1);
    --ion-color-depressed-little-dark: rgba(56, 45, 84, 1);
    --ion-color-depressed-little-light: rgba(90, 138, 197, 1);
    --ion-color-depressed-pretty-dark: rgba(66, 48, 83, 1);
    --ion-color-depressed-pretty-light: rgba(100, 143, 198, 1);
    --ion-color-depressed-very-dark: rgba(76, 53, 82, 1);
    --ion-color-depressed-very-light: rgba(110, 148, 199, 1);
    --ion-color-depressed-extremely-dark: rgba(86, 57, 81, 1);
    --ion-color-depressed-extremely-light: rgba(120, 153, 200, 1);

    --ion-color-happy-default-dark: rgba(148, 104, 28, 1);
    --ion-color-happy-default-light: rgba(166, 66, 63, 1);
    --ion-color-happy-little-dark: rgba(168, 110, 25, 1);
    --ion-color-happy-little-light: rgba(191, 88, 64, 1);
    --ion-color-happy-pretty-dark: rgba(188, 116, 22, 1);
    --ion-color-happy-pretty-light: rgba(216, 110, 65, 1);
    --ion-color-happy-very-dark: rgba(208, 122, 19, 1);
    --ion-color-happy-very-light: rgba(241, 132, 66, 1);
    --ion-color-happy-extremely-dark: rgba(228, 128, 16, 1);
    --ion-color-happy-extremely-light: rgba(255, 154, 67, 1);

    --ion-color-anxious-default-dark: rgba(70, 46, 92, 1);
    --ion-color-anxious-default-light: rgba(115, 88, 134, 1);
    --ion-color-anxious-little-dark: rgba(80, 49, 91, 1);
    --ion-color-anxious-little-light: rgba(125, 93, 135, 1);
    --ion-color-anxious-pretty-dark: rgba(90, 52, 90, 1);
    --ion-color-anxious-pretty-light: rgba(135, 98, 136, 1);
    --ion-color-anxious-very-dark: rgba(90, 55, 89, 1);
    --ion-color-anxious-very-light: rgba(145, 103, 137, 1);
    --ion-color-anxious-extremely-dark: rgba(100, 58, 88, 1);
    --ion-color-anxious-extremely-light: rgba(155, 108, 138, 1);

    --ion-color-custom-primary: rgba(80, 227, 195, 1);
    --ion-color-custom-warning: rgba(255, 174, 0, 1);
    --ion-color-custom-success: rgba(28, 189, 253, 1);
    --ion-color-custom-purple: rgba(131, 48, 162, 1);
    --ion-color-custom-danger: rgba(219, 49, 60, 1);

    ion-toolbar {
        // --background: #1f4170;
        // --color: rgba(255, 255, 255, .87);
        --background: rgba(0, 0, 0, 0);

        ion-buttons {
            --opacity: 1;
        }

        --opacity: 0;
        // --background: rgba(23, 100, 143, 1);
        --color: rgba(255, 255, 255, .87);
        --border-width: 0;
    }

    ion-alert,
    ion-loading {
        --ion-text-color: rgba(0, 0, 0, .7);
    }

    ion-alert {
        --ion-background-color: #fff;
    }

    ion-alert {
        --ion-font-family: var(--ion-default-font)
    }

    ion-app.md {
        ion-toolbar {
            ion-title {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 90px 1px;
                width: 100%;
                height: 100%;
                text-align: center;
            }
        }
    }
}
