<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                color="light"
                defaultHref="account"
            ></ion-back-button>
        </ion-buttons>

        <ion-title>
            <img
                class="header-logo"
                src="/assets/images/logo-square.svg"
            >
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
    [scrollY]="false"
    [fullscreen]="true"
>
    <!-- FULL HEIGHT -->
    <div
        has-full-min-height-pct
        fxLayout="column"
    >
        <!-- SCROLL CONTENT -->
        <ion-content
            class="ion-padding-top ion-padding-start ion-padding-end"
            fxFlex
        >
            <div
                class="use-light-theme"
                has-full-min-height-pct
                fxLayout="column"
                fxLayoutGap="32px"
                fxLayoutAlign="center center"
            >
                <div class="ion-text-center">
                    <div class="page-title-small">Subscription</div>

                    <div class="page-title-extra-small">
                        Details about your subscription:
                    </div>
                </div>

                <mat-card
                    class="ion-text-center"
                    has-full-width-pct
                >
                    <div><b>Selected plan:</b></div>
                    <div [fxHide]="(subscription$ | async)?.payment_type !== 'code'">FREE CODE</div>
                    <div [fxHide]="(subscription$ | async)?.payment_type !== 'store' || (subscription$ | async)?.product?.productId !== 'monthly'">Monthly</div>
                    <div [fxHide]="(subscription$ | async)?.payment_type !== 'store' || (subscription$ | async)?.product?.productId !== 'annual'">Annual</div>

                    <div class="sep"></div>

                    <div><b>Price:</b></div>
                    <div [fxHide]="(subscription$ | async)?.payment_type !== 'code'">Free</div>
                    <div [fxHide]="(subscription$ | async)?.payment_type !== 'store'">{{(subscription$ | async)?.product.price}}</div>
                </mat-card>

                <div
                    fxLayout
                    fxLayoutGap="16px"
                >
                    <a
                        fxFlex
                        mat-button
                        mat-button-extra-small
                        is-capitalize
                        (click)="openLink('https://www.neuraboot.com/terms-of-service-agreement/')"
                    >
                        Terms of Service
                    </a>

                    <a
                        fxFlex
                        mat-button
                        mat-button-extra-small
                        is-capitalize
                        (click)="openLink('https://www.neuraboot.com/privacy-policy/')"
                    >
                        Privacy Policy
                    </a>
                </div>
            </div>
        </ion-content>

        <!-- FOOTER -->
        <div
            class="ion-padding-bottom ion-padding-start ion-padding-end"
            fxLayout
            fxLayoutGap="16px"
            fxLayoutAlign="space-between center"
        >
            <button
                type="button"
                mat-button
                mat-button-small
                mat-button-has-icon-image
                is-capitalize
                (click)="ui.browser('https://www.neuraboot.com/')"
            >
                <img
                    left
                    src="/assets/images/icon-nav-about.svg"
                >
                About
            </button>

            <button
                type="button"
                mat-button
                mat-button-small
                mat-button-has-icon-image
                is-capitalize
                (click)="navigation.openMenu()"
            >
                Settings
                <img
                    right
                    src="/assets/images/icon-nav-settings.svg"
                >
            </button>
        </div>
    </div>
</ion-content>
