.mat-card {
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, .87);
    font-weight: 700;
}

.sep {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.87);
    margin: 16px;
}
