<modal-overlay
    mode="sky"
    [attr.is-transparent]="true"
>
    <div
        class="mo-content-fix ion-text-center"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <button
            mat-icon-button
            (click)="close()"
        >
            <mat-icon>close</mat-icon>
        </button>

        <br>

        <div class="mo-header">
            <div>
                <div class="mo-header-title">{{startCase(actionStep?.category)}}</div>
            </div>
        </div>

        <div
            fxLayout="column"
            fxLayoutGap="16px"
        >
            <div
                class="desc animated fadeInDown ion-text-center"
                [style.animation-delay]="'.3s'"
            >
                {{actionStep?.text}}
            </div>

            <button
                mat-raised-button
                mat-action-button
                color="gradient"
                [fxHide]="!actionStep?.link"
                (click)="openBrowser(actionStep?.link)"
                class="ion-margin-top"
            >
                {{actionStep?.label}}
            </button>
        </div>
    </div>
</modal-overlay>
