<!-- FULL HEIGHT -->
<div has-full-width-pct class="wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px" fxFlex>
    <div fxFlex="0 0 50px"></div>

    <!-- TITLE -->
    <div class="page-title">
        <span class="animated fadeIn" [hidden]="feeling.forceActionStep">
            You're Feeling
            {{ feeling.getCategoryLabel() }}
        </span>
        <span class="page-title-small reboot-title animated fadeIn" [hidden]="!feeling.forceActionStep">
            My Action Steps
        </span>
    </div>

    <!-- CHOOSE CATEGORY -->
    <div
        fxFlex="none"
        class="category-buttons animated fadeIn"
        fxLayout="column"
        fxLayoutGap="16px"
        *ngIf="feeling.forceActionStep && !feeling.actionStepCategory"
    >
        <button
            mat-flat-button
            mat-action-button
            color="light"
            (click)="selectCategory('connections')"
            [disabled]="isExcludedCategory('connections')"
        >
            Connections
        </button>
        <button mat-flat-button mat-action-button color="light" (click)="selectCategory('fuel')" [disabled]="isExcludedCategory('fuel')">
            Fuel
        </button>
        <button
            mat-flat-button
            mat-action-button
            color="light"
            (click)="selectCategory('energy-release')"
            [disabled]="isExcludedCategory('energy_release')"
        >
            Energy Release
        </button>
        <button
            mat-flat-button
            mat-action-button
            color="light"
            (click)="selectCategory('awareness')"
            [disabled]="isExcludedCategory('awareness')"
        >
            Awareness
        </button>
        <button
            mat-flat-button
            mat-action-button
            color="light"
            (click)="selectCategory('challenge')"
            [disabled]="isExcludedCategory('challenge')"
        >
            Challenge
        </button>
    </div>
</div>

<!-- ACTION STEP SLIDER -->
<action-step-slider class="animated fadeInLeft" [style.animation-delay]="'.5s'" *ngIf="actionStep.entries.length"> </action-step-slider>

<div class="ion-padding-start ion-padding-end ion-text-center">
    <div class="page-subtitle animated fadeIn" [fxHide]="!actionStep.selected" margin-bottom>
        <div slot="fixed" [innerHTML]="getTruncatedText(actionStep.selected?.text)" (click)="presentDescriptionModal()"></div>
    </div>

    <button type="button" mat-stroked-button [fxHide]="!actionStep.selected?.link" (click)="openBrowser(actionStep.selected?.link)">
        {{ actionStep.selected?.label }}
    </button>
</div>

<!-- FILL EMPTY SPACE -->
<div fxFlex="1 1"></div>

<!-- ACTIONS -->
<div has-full-width-pct class="ion-padding" fxLayout fxLayoutGap="16px" *ngIf="actionStep.entries.length">
    <button mat-flat-button mat-action-button color="light" type="button" (click)="decline()" fxFlex>
        <mat-icon slot="left">close</mat-icon>
        Skip
    </button>
    <button mat-flat-button mat-action-button color="gradient" type="button" (click)="accept()" fxFlex>
        Accept
        <mat-icon slot="right">done</mat-icon>
    </button>
</div>
