.reboot-title {
    -webkit-transition: font-size .400s;
    -moz-transition: font-size .400s;
    -o-transition: font-size .400s;
    transition: font-size .400s;
}

.page-title,
action-step-slider {
    margin-bottom: 32px;
}
