.chart-legend {
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0;
    color: rgba(255, 255, 255, .87);

    .legend-square {
        width: 8px;
        height: 8px;
        border-radius: 2px;
    }
}

.chart-wrapper {
    margin-bottom: 40px;
}

.mat-caption {
    font-size: 9px;
    text-align: center;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, .4);
}

[loading] {
    opacity: .3;
}
