<div
    fxLayout="column"
    class="chart-wrapper"
>
    <div
        class="chart-legend ion-margin-bottom"
        fxLayout
        fxLayoutGap="8px"
        fxLayoutAlign="center center"
    >
        <div
            fxLayout
            fxLayoutGap="4px"
            fxLayoutAlign="center center"
        >
            <div
                class="legend-square"
                [style.background-color]="categoryConfig.happy.color"
            ></div>
            <div>Happy</div>
        </div>

        <div
            fxLayout
            fxLayoutGap="4px"
            fxLayoutAlign="center center"
        >
            <div
                class="legend-square"
                [style.background-color]="categoryConfig.anxious.color"
            ></div>
            <div>Anxious</div>
        </div>

        <div
            fxLayout
            fxLayoutGap="4px"
            fxLayoutAlign="center center"
        >
            <div
                class="legend-square"
                [style.background-color]="categoryConfig.depressed.color"
            ></div>
            <div>Sad</div>
        </div>

        <div
            fxLayout
            fxLayoutGap="4px"
            fxLayoutAlign="center center"
        >
            <div
                class="legend-square"
                [style.background-color]="categoryConfig.angry.color"
            ></div>
            <div>Angry</div>
        </div>
    </div>

    <ngx-charts-bar-vertical-2d
        [animations]="false"
        [scheme]="colorScheme"
        [results]="data"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [yAxisTickFormatting]="yFormat"
        [tooltipDisabled]="true"
        [roundDomains]="true"
        [attr.loading]="loading ? true : null"
        style="height:210px"
        *ngIf="data.length"
        (select)="onSelectDay($event)"
    >
    </ngx-charts-bar-vertical-2d>
</div>

<div class="mat-caption">Click on the bars to see a summary of the day</div>

<div
    class="navigation-buttons"
    fxLayout
    fxLayoutGap="16px"
>
    <button
        mat-flat-button
        mat-action-button
        mat-button-small
        color="light"
        type="button"
        (click)="previusDate()"
        fxFlex
    >
        <mat-icon slot="left">keyboard_arrow_left</mat-icon>
        Previous
    </button>
    <button
        mat-flat-button
        mat-action-button
        mat-button-small
        color="light"
        type="button"
        (click)="nextDate()"
        fxFlex
    >
        Next
        <mat-icon slot="right">keyboard_arrow_right</mat-icon>
    </button>
</div>
