<ion-content [scrollY]="false">
    <!-- FULL HEIGHT -->
    <div
        has-full-min-height-pct
        fxLayout="column"
    >
        <!-- SCROLL CONTENT -->
        <ion-content
            class="ion-padding-start ion-padding-end"
            fxFlex
        >
            <div
                fxLayout="column"
                fxLayoutGap="58px"
                fxLayoutAlign="center center"
            >
                <div
                    fxLayout="column"
                    fxLayoutGap="24px"
                    fxLayoutAlign="center center"
                >
                    <img
                        class="content-header-logo"
                        src="/assets/images/logo-square.svg"
                    >

                    <div class="page-title-extra-small has-letter-spacing">Neuraboot</div>
                </div>

                <div
                    fxLayout="column"
                    fxLayoutGap="16px"
                    fxLayoutAlign="start center"
                    has-full-width-pct
                >
                    <profile-progress></profile-progress>

                    <div
                        class="pc-buttons"
                        fxLayout="column"
                        fxLayoutGap="16px"
                        fxLayoutAlign="center center"
                    >
                        <button
                            type="button"
                            mat-button
                            mat-button-small
                            is-capitalize
                            is-bold
                            color="light"
                            [routerLink]="['/my-profile']"
                        >
                            My Profile
                        </button>

                        <button
                            type="button"
                            mat-button
                            mat-button-small
                            is-capitalize
                            is-bold
                            color="light"
                            [routerLink]="['/my-mood']"
                        >
                            
                            My Mood
                        </button>

                        <button
                            type="button"
                            mat-button
                            mat-button-small
                            is-capitalize
                            is-bold
                            color="light"
                            [routerLink]="['/my-progress']"
                        >
                            My Progress
                        </button>
                    </div>
                </div>
            </div>
        </ion-content>

        <!-- FOOTER -->
        <div
            class="ion-padding-bottom ion-padding-start ion-padding-end"
            fxLayout="column"
            fxLayoutGap="16px"
        >
            <!-- ACTIVE CHALLENGE -->
            <action-step-display #actionStepDisplay></action-step-display>

            <div
                fxLayout
                fxLayoutGap="16px"
                fxLayoutAlign="space-between center"
            >
                <button
                    type="button"
                    mat-button
                    mat-button-small
                    mat-button-has-icon-image
                    is-capitalize
                    (click)="ui.browser('https://www.neuraboot.com/')"
                >
                    <img
                        left
                        src="/assets/images/icon-nav-about.svg"
                    >
                    About
                </button>

                <button
                    type="button"
                    mat-button
                    mat-button-small
                    mat-button-has-icon-image
                    is-capitalize
                    (click)="navigation.openMenu()"
                >
                    Settings
                    <img
                        right
                        src="/assets/images/icon-nav-settings.svg"
                    >
                </button>
            </div>
        </div>
    </div>
</ion-content>
