<div class="ion-padding-bottom ion-padding-start ion-padding-end">
    <div class="page-subtitle ion-text-center">
        All Achievements
    </div>

    <div class="achiements-subtitle ion-text-center">
        <b>Improve your well-being</b> and unlock achievements by using
        <b>Neuraboot every day</b>.
    </div>

    <div
        class="achievements-wrapper"
        fxLayout="row wrap"
        fxLayoutGap="16px"
        style="margin-right: -16px"
    >
        <div
            fxFlex="0 0 calc(33.33333% - 16px)"
            *ngFor="let item of achievements; index as i"
            class="ion-margin-bottom ion-text-center"
        >
            <img
                [src]="getImage(item)"
                [class]="'achievement-img animated ' + (item.completed ? 'flip' : 'fadeIn')"
                [style.animation-delay]="(.0 + (i / 10)) + 's'"
            >
        </div>
    </div>
</div>
