<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                color="light"
                defaultHref="home"
            ></ion-back-button>
        </ion-buttons>

        <ion-title>
            <img
                class="header-logo"
                src="/assets/images/logo-square.svg"
            >
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
    [scrollY]="false"
    [fullscreen]="true"
>
    <!-- FULL HEIGHT -->
    <div
        has-full-min-height-pct
        fxLayout="column"
    >
        <!-- SCROLL CONTENT -->
        <ion-content
            class="ion-padding"
            fxFlex
        >
            <div
                fxLayout="column"
                fxLayoutGap="32px"
            >
                <div class="page-title-small page-title-margin ion-text-center">
                    My Profile
                </div>

                <div class="pc-form-wrapper">
                    <profile-question-form></profile-question-form>
                </div>
            </div>
        </ion-content>

        <!-- FOOTER -->
        <div
            class="ion-margin-top ion-padding-bottom ion-padding-start ion-padding-end"
            fxLayout
            fxLayoutGap="16px"
            fxLayoutAlign="space-between center"
        >
            <button
                mat-flat-button
                mat-action-button
                color="gradient-light"
                (click)="profileQuestionForm.save()"
                [fxHide]="!profileQuestionForm.questions || !profileQuestionForm.questions.length"
                fxFlex
            >
                Save
            </button>
        </div>
    </div>
</ion-content>
