<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                color="light"
                defaultHref="home"
            ></ion-back-button>
        </ion-buttons>

        <ion-title>
            <img
                class="header-logo"
                src="/assets/images/logo-square.svg"
            >
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div
        fxLayout="column"
        fxLayoutGap="32px"
    >
        <!-- TITLE -->
        <div class="page-title-small page-title-margin ion-text-center">
            My Progress
        </div>

        <!-- TABS -->
        <div class="tabs-wrapper">
            <nav
                mat-tab-nav-bar
                mat-tab-nav-custom
                mat-stretch-tabs
            >
                <a
                    mat-tab-link
                    *ngFor="let segment of segments"
                    (click)="changeSegment(segment.slug)"
                    [active]="activeSegment == segment.slug"
                >
                    {{segment.label}}
                </a>
            </nav>
        </div>

        <!-- SEGMENTS -->
        <div [ngSwitch]="activeSegment">
            <my-progress-level-segment
                [level]="level"
                class="animated fadeInLeft"
                *ngSwitchCase="'level'"
            ></my-progress-level-segment>

            <my-progress-activity-segment
                class="animated fadeInLeft"
                *ngSwitchCase="'activity'"
            ></my-progress-activity-segment>

            <my-progress-achievements-segment
                class="animated fadeInLeft"
                *ngSwitchCase="'achievements'"
            ></my-progress-achievements-segment>
        </div>
    </div>
</ion-content>
