<div fxLayout="column" fxLayout.gt-sm fxLayoutGap="24px">
    <feeling-category-list fxFlex.gt-sm fxFlex="none"></feeling-category-list>
    <chart-bar [view]="[330, 220]" [setup]="chartBarTopCategories" fxFlex.gt-sm="1 1 60%" fxFlex="none"></chart-bar>
</div>
