.chart-line {
    padding: 35px 24px !important;

    .more-button {
        position: absolute !important;
        top: 13px;
        right: 6px;
    }

    .dashboard-card-content {
        text-align: center;

        .wrapper {
            display: flex;
            justify-content: center;
        }
    }

    .loading {
        margin-bottom: 20px;
    }

    .wrapper {
        min-height: 300px;
        display: flex;
        align-items: center;
    }
}

button.chart-active {
    border-left: 2px solid #333 !important;
}

.mat-menu-content {
    .mat-menu-item {
        font-size: 13px;
    }
}
