<mat-card class="chart-line dashboard-card mat-elevation-z1">
    <mat-card-header>
        <mat-card-title>
            <h3 class="subtitle is-6 animated fadeInDown" *ngIf="!loading" [innerHTML]="'<strong>'+(total||'')+'</strong> '+setup[index].title">
            </h3>
            <button mat-icon-button class="more-button" [mat-menu-trigger-for]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item *ngFor="let item of setup; let i = index" [ngClass]="{'chart-active':index===i}"
                    (click)="index=i; ngAfterViewInit()">{{item.placeholder}}</button>
            </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <div class="wrapper">

            <div class="spinner-outer animated fadeInUp" [ngClass]="{'is-hidden':!loading}">
                <mat-progress-spinner strokeWidth="4" diameter="30" class="spinner small" [color]="'accent'" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>

            <ngx-charts-line-chart class="animated fadeIn" *ngIf="setup[index].charts[0].series.length&&!loading"
                [view]="view" [legendTitle]="''" [scheme]="colorScheme" [results]="setup[index].charts" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale"
                (select)="onSelect($event)">
            </ngx-charts-line-chart>
            <small *ngIf="!setup[index].charts[0].series.length&&!loading">No data available yet</small>
        </div>

    </mat-card-content>
</mat-card>
